@-moz-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@-webkit-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@-o-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@-ms-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@-khtml-keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@keyframes fade-in {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; } }
@-moz-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@-webkit-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@-o-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@-ms-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@-khtml-keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
@keyframes fade-out {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1; }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0; } }
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Miller Banner Roman';
  src: url("fonts/millerbanner_roman.eot");
  src: url("fonts/millerbanner_roman.eot?#iefix") format("embedded-opentype"), url("fonts/millerbanner_roman.woff") format("woff"), url("fonts/millerbanner_roman.ttf") format("truetype"), url("fonts/millerbanner_roman.svg#millerbannerroman") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Miller Banner Italic';
  src: url("fonts/millerbanner_italic.eot");
  src: url("fonts/millerbanner_italic.eot?#iefix") format("embedded-opentype"), url("fonts/millerbanner_italic.woff") format("woff"), url("fonts/millerbanner_italic.ttf") format("truetype"), url("fonts/millerbanner_italic.svg#millerbanneritalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Miller Banner Light';
  src: url("fonts/millerbanner_light.eot");
  src: url("fonts/millerbanner_light.eot?#iefix") format("embedded-opentype"), url("fonts/millerbanner_light.woff") format("woff"), url("fonts/millerbanner_light.ttf") format("truetype"), url("fonts/millerbanner_light.svg#millerbannerlight") format("svg");
  font-weight: normal;
  font-style: normal; }
.arial {
  font-family: Arial, Helvetica, sans-serif; }

.garamond {
  font-family: 'Monotype Garamond W01';
  font-weight: 400;
  font-style: normal; }

.garamond-italic {
  font-family: 'Monotype Garamond W01';
  font-weight: 400;
  font-style: italic; }

.futura {
  font-family: 'L Futura W01';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

.futura-heavy {
  font-family: 'L Futura W01';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }

.miller {
  font-family: 'Miller Banner Roman';
  font-weight: normal;
  font-style: normal; }

.miller-italic {
  font-family: 'Miller Banner Italic';
  font-weight: normal;
  font-style: normal; }

.miller-light {
  font-family: 'Miller Banner Light';
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot?jrcmag");
  src: url("fonts/icons.eot?#iefixjrcmag") format("embedded-opentype"), url("fonts/icons.woff?jrcmag") format("woff"), url("fonts/icons.ttf?jrcmag") format("truetype"), url("fonts/icons.svg?jrcmag#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], .menu-btn:before, .facebook-btn:before, .twitter-btn:before, .tumblr-btn:before, .instagram-btn:before, .pinterest-btn:before, .youtube-btn:before, .email-btn:before, .search-btn:before, .up-btn:before, .down-btn:before, .print-btn:after, .comments-btn:before, .shares-btn:before, .close-btn:before, .gallery-btn:before, [class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-web:before {
  content: "\e602"; }

.icon-logo:before {
  content: "\e601"; }

.icon-pinterest:before, .pinterest-btn:before {
  content: "\e600"; }

.icon-close:before, .close-btn:before {
  content: "\76"; }

.icon-search:before, .search-btn:before {
  content: "\34"; }

.icon-twitter:before, .twitter-btn:before {
  content: "\36"; }

.icon-facebook:before, .facebook-btn:before {
  content: "\37"; }

.icon-menu:before, .menu-btn:before {
  content: "\38"; }

.icon-caret-down:before {
  content: "\30"; }

.icon-caret-up:before {
  content: "\71"; }

.icon-caret-left:before {
  content: "\77"; }

.icon-caret-right:before {
  content: "\65"; }

.icon-angle-left:before {
  content: "\72"; }

.icon-angle-right:before {
  content: "\74"; }

.icon-angle-up:before {
  content: "\79"; }

.icon-angle-down:before {
  content: "\75"; }

.icon-youtube:before, .youtube-btn:before {
  content: "\6f"; }

.icon-instagram:before, .instagram-btn:before {
  content: "\70"; }

.icon-tumblr:before, .tumblr-btn:before {
  content: "\5b"; }

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    color: #8a967c; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Miller Banner Light';
  font-weight: normal;
  font-style: normal;
  margin: 0;
  color: #000; }

h1 {
  font-size: 60px;
  font-size: 6rem;
  line-height: 1; }

h2 {
  font-size: 50px;
  font-size: 5rem;
  line-height: 1; }

h3 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 1; }

h4 {
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 1; }

h5 {
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1; }

h6 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1; }

p {
  margin: 0; }

.huge {
  font-size: 150%; }

.big {
  font-size: 130%; }

.small {
  font-size: 90%; }

.tiny {
  font-size: 70%; }

p.tiny {
  margin: 5px 0; }

.bold,
strong,
b {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.italic {
  font-style: italic; }

.align-left,
.text-left {
  text-align: left; }

.align-right,
.text-right {
  text-align: right; }

.align-center,
.text-center {
  text-align: center; }

.align-middle,
.text-middle {
  vertical-align: middle; }

.normal-style {
  font-style: normal; }

.underline {
  text-decoration: underline; }

.uppercase {
  text-transform: uppercase; }

.normalcase {
  text-transform: none; }

.black {
  color: #000; }

.white {
  color: #fff; }

a.white:hover {
  color: #ffbbbb; }

.grey {
  color: #a8a8a8; }

a.grey:hover {
  color: #878787; }

.dark-grey {
  color: #333333; }

a.dark-grey:hover {
  color: #141414; }

.light-grey {
  color: #CCC; }

a.light-grey:hover {
  color: #a8a8a8; }

.green {
  color: #7ca251; }

a.green:hover {
  color: #c9f400; }

/* =============================================================================
   Grid
   ========================================================================== */
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 79.992em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 95%; } }
  .container:after {
    content: '';
    display: table;
    clear: both; }

.span {
  min-height: 2px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  display: block;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100; }
  .span.alpha {
    padding-left: 0; }
  .span.omega {
    padding-right: 0; }

.span.one {
  width: 10%; }

.push-one {
  margin-left: 10%; }

.pull-one {
  margin-left: -10%; }

.span.one-sixth {
  width: 16.66666%; }

.push-one-sixth {
  margin-left: 16.66666%; }

.pull-one-sixth {
  margin-left: -16.66666%; }

.span.two {
  width: 20%; }

.push-two {
  margin-left: 20%; }

.pull-two {
  margin-left: -20%; }

.span.one-fifth {
  width: 20%; }

.push-one-fifth {
  margin-left: 20%; }

.pull-one-fifth {
  margin-left: -20%; }

.span.two-and-half {
  width: 25%; }

.push-two-and-half {
  margin-left: 25%; }

.pull-two-and-half {
  margin-left: -25%; }

.span.one-fourth {
  width: 25%; }

.push-one-fourth {
  margin-left: 25%; }

.pull-one-fourth {
  margin-left: -25%; }

.span.quarter {
  width: 25%; }

.push-quarter {
  margin-left: 25%; }

.pull-quarter {
  margin-left: -25%; }

.span.three {
  width: 30%; }

.push-three {
  margin-left: 30%; }

.pull-three {
  margin-left: -30%; }

.span.three-three {
  width: 33.33333%; }

.push-three-three {
  margin-left: 33.33333%; }

.pull-three-three {
  margin-left: -33.33333%; }

.span.third {
  width: 33.33333%; }

.push-third {
  margin-left: 33.33333%; }

.pull-third {
  margin-left: -33.33333%; }

.span.one-third {
  width: 33.33333%; }

.push-one-third {
  margin-left: 33.33333%; }

.pull-one-third {
  margin-left: -33.33333%; }

.span.four {
  width: 40%; }

.push-four {
  margin-left: 40%; }

.pull-four {
  margin-left: -40%; }

.span.five {
  width: 50%; }

.push-five {
  margin-left: 50%; }

.pull-five {
  margin-left: -50%; }

.span.six {
  width: 60%; }

.push-six {
  margin-left: 60%; }

.pull-six {
  margin-left: -60%; }

.span.two-thirds {
  width: 66.66667%; }

.push-two-thirds {
  margin-left: 66.66667%; }

.pull-two-thirds {
  margin-left: -66.66667%; }

.span.seven {
  width: 70%; }

.push-seven {
  margin-left: 70%; }

.pull-seven {
  margin-left: -70%; }

.span.seven-and-half {
  width: 75%; }

.push-seven-and-half {
  margin-left: 75%; }

.pull-seven-and-half {
  margin-left: -75%; }

.span.eight {
  width: 80%; }

.push-eight {
  margin-left: 80%; }

.pull-eight {
  margin-left: -80%; }

.span.nine {
  width: 90%; }

.push-nine {
  margin-left: 90%; }

.pull-nine {
  margin-left: -90%; }

.span.ten {
  width: 100%; }

.push-ten {
  margin-left: 100%; }

.pull-ten {
  margin-left: -100%; }

/* =============================================================================
   Forms
   ========================================================================== */
input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea,
select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #a0a0a0;
  border: none;
  letter-spacing: 1px;
  font-size: 12px;
  font-size: 1.2rem; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  textarea:focus,
  select:focus {
    outline: none; }

input[type=text],
input[type=email],
input[type=url],
input[type=tel],
input[type=number],
input[type=password],
textarea {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: 'L Futura W01';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  background: #FFF;
  padding: 1em;
  max-width: 100%;
  text-transform: none; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=url]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=password]:focus,
  textarea:focus {
    color: #000; }

select {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  display: inline-block;
  border: 0;
  padding: 1.4em;
  background: #f7f7f7;
  color: #797979;
  position: relative; }
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      padding-right: 40px;
      background: #f7f7f7 url(../images/misc/dropdown.png) no-repeat center right; } }
  select option {
    text-transform: none;
    font-family: sans-serif;
    padding: 0.5em; }

textarea {
  height: 200px; }

input[type=submit],
input[type=reset],
button[type=submit] {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  background: #8a967c;
  padding: 1.3em 3em;
  color: #FFF;
  text-align: center;
  letter-spacing: 3px;
  font-size: 10px;
  font-size: 1rem;
  font-family: 'L Futura W01';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  border: 0; }
  input[type=submit]:hover,
  input[type=reset]:hover,
  button[type=submit]:hover {
    background: #000;
    color: #FFF; }
  input[type=submit]:focus,
  input[type=reset]:focus,
  button[type=submit]:focus {
    outline: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
option::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none !important;
  outline: none !important; }

label {
  margin: 0 0 0.3em 0;
  font-size: 8px;
  font-size: 0.8rem; }

fieldset {
  border: none;
  padding: 0; }

/* =============================================================================
   Gravity
   ========================================================================== */
.gform_wrapper {
  max-width: 100% !important;
  margin: 0 !important;
  background: #464646;
  color: #FFF; }
  .gform_wrapper h3 {
    color: #FFF; }
  .gform_wrapper form {
    padding: 1em;
    overflow: hidden; }
    .gform_wrapper form .gform_heading {
      margin-bottom: 0.3em; }
      .gform_wrapper form .gform_heading .gform_description {
        font-family: 'L Futura W01';
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 10px;
        font-size: 1rem; }
    .gform_wrapper form .gform_body .gform_fields {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none; }
      .gform_wrapper form .gform_body .gform_fields .gfield {
        margin: 0 0 1em 0; }
        .gform_wrapper form .gform_body .gform_fields .gfield.gsection {
          border-bottom: 1px solid #e1e1e1; }
        .gform_wrapper form .gform_body .gform_fields .gfield.hide-label .gfield_label {
          display: none; }
        .gform_wrapper form .gform_body .gform_fields .gfield .gfield_label {
          font-size: 8px;
          font-size: 0.8rem;
          letter-spacing: 2px; }
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_left,
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_right {
          display: inline-block; }
          .gform_wrapper form .gform_body .gform_fields .gfield .ginput_left label,
          .gform_wrapper form .gform_body .gform_fields .gfield .ginput_right label {
            margin: 0.3em 0 0 0;
            font-size: 7px;
            display: block;
            letter-spacing: 2px; }
        .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error {
          margin: 0 !important;
          padding: 0 !important;
          background: none;
          border: none; }
          .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error.gfield_contains_required {
            margin: 0 !important;
            padding: 0 !important; }
          .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error.gf_left_half {
            width: 46%; }
          .gform_wrapper form .gform_body .gform_fields .gfield.gfield_error .ginput_container {
            margin: 0 !important;
            max-width: 100%; }
        .gform_wrapper form .gform_body .gform_fields .gfield.large-container .ginput_container {
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          background: #f2f2eb;
          background: rgba(255, 255, 255, 0.5);
          border: 1px solid #c3c2bb;
          padding: 6em 8em; }
          @media only screen and (max-width: 900px) {
            .gform_wrapper form .gform_body .gform_fields .gfield.large-container .ginput_container {
              padding-left: 4em;
              padding-right: 4em; } }
        .gform_wrapper form .gform_body .gform_fields .gfield.gf_left_half, .gform_wrapper form .gform_body .gform_fields .gfield.gf_right_half {
          width: 44% !important; }
          @media only screen and (max-width: 600px) {
            .gform_wrapper form .gform_body .gform_fields .gfield.gf_left_half, .gform_wrapper form .gform_body .gform_fields .gfield.gf_right_half {
              width: 100% !important;
              float: none !important;
              clear: none !important; } }
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=text],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=email],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=url],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=tel],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=number],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container input[type=password],
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container textarea {
          -moz-box-sizing: none;
          -webkit-box-sizing: none;
          box-sizing: none;
          background: #FFF;
          max-width: 100%;
          font-family: 'L Futura W01';
          font-weight: 400;
          font-style: normal;
          text-transform: uppercase;
          text-transform: none;
          font-size: 12px;
          font-size: 1.2rem;
          padding: 1em; }
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container select {
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
          -webkit-appearance: none;
          display: inline-block;
          background: #FFF;
          border: 1px solid #b0b0b0;
          -moz-box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.3);
          padding: 0.6em;
          font-size: 12px;
          font-size: 1.2rem;
          background: #FFF;
          position: relative; }
          @media screen and (-webkit-min-device-pixel-ratio: 0) {
            .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container select {
              padding-right: 40px;
              background: #FFF url(../images/misc/dropdown.jpg) no-repeat center right;
              background-size: contain; } }
          .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container select.medium {
            width: 45%; }
        .gform_wrapper form .gform_body .gform_fields .gfield .ginput_container textarea {
          width: 100%; }
        .gform_wrapper form .gform_body .gform_fields .gfield .gfield_description.validation_message {
          padding: 6px 0 0 0 !important; }
    .gform_wrapper form .gform_footer,
    .gform_wrapper form .gform_page_footer {
      text-align: right;
      padding: 0;
      margin: 1em 0; }
      .gform_wrapper form .gform_footer .button,
      .gform_wrapper form .gform_footer input.button,
      .gform_wrapper form .gform_footer input[type=submit],
      .gform_wrapper form .gform_footer input.button.gform_button,
      .gform_wrapper form .gform_page_footer .button,
      .gform_wrapper form .gform_page_footer input.button,
      .gform_wrapper form .gform_page_footer input[type=submit],
      .gform_wrapper form .gform_page_footer input.button.gform_button {
        font-size: 10px;
        font-size: 1rem; }

.search-form {
  position: relative; }
  .search-form ::-webkit-input-placeholder {
    text-transform: uppercase;
    text-align: right; }
  .search-form :-moz-placeholder {
    /* Firefox 18- */
    text-transform: uppercase;
    text-align: right; }
  .search-form ::-moz-placeholder {
    /* Firefox 19+ */
    text-transform: uppercase;
    text-align: right; }
  .search-form :-ms-input-placeholder {
    text-transform: uppercase;
    text-align: right; }
  .search-form .input {
    font-size: 8px;
    font-size: 0.8rem;
    border: none;
    vertical-align: middle;
    background: #FFF;
    padding: 1.7em 1em 1.6em 1.6em;
    text-align: right;
    color: #c0c0c0; }
  .search-form .submit-btn {
    background: #FFF;
    color: #c0c0c0;
    border: #FFF;
    vertical-align: middle;
    padding: 1em; }
    .search-form .submit-btn:before {
      font-size: 12px;
      font-size: 1.2rem; }
    .search-form .submit-btn:hover {
      color: #000; }
      .search-form .submit-btn:hover:before {
        color: #FFF; }

.comment-form p {
  margin: 0.5em 0; }
.comment-form .comment-form-author,
.comment-form .comment-form-email {
  float: left;
  width: 49%; }
  @media only screen and (max-width: 600px) {
    .comment-form .comment-form-author,
    .comment-form .comment-form-email {
      float: none;
      width: auto; } }
.comment-form .comment-form-author {
  margin-right: 2%; }
  @media only screen and (max-width: 600px) {
    .comment-form .comment-form-author {
      margin-right: 0; } }
.comment-form .comment-form-url {
  clear: left; }
.comment-form .comment-form-comment label {
  padding-top: 0; }
.comment-form label {
  width: 80px;
  display: block;
  float: left;
  letter-spacing: 1px;
  padding: 2.1em 0 0 0; }
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=url],
.comment-form textarea {
  background: #FFF;
  border: 1px solid #eeeeee;
  width: calc(100% - 80px);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'L Futura W01';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-transform: none; }
.comment-form .form-submit {
  text-align: right; }

.newsletter_wrapper {
  background-image: url(../images/backgrounds/newsletter.jpg);
  background-repeat: no-repeat;
  background-position: 104% center;
  background-size: 220px;
  padding-right: 180px; }
  .newsletter_wrapper form {
    position: relative; }
    .newsletter_wrapper form .gform_body .gform_fields .gfield {
      margin-bottom: 0; }
      .newsletter_wrapper form .gform_body .gform_fields .gfield input {
        width: 100%;
        padding-right: 140px; }
    .newsletter_wrapper form .gform_footer {
      position: absolute;
      bottom: 0;
      right: 1em; }

/* =============================================================================
   Buttons
   ========================================================================== */
button:disabled {
  opacity: 0.5; }
button:active, button:focus {
  outline: none; }

.primary-btn, .comment-form .form-submit input[type=submit], button {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  background: #FFF;
  padding: 0.8em 2em;
  color: #000;
  text-align: center;
  border: 2px solid #000;
  letter-spacing: 2px;
  font-size: 8px;
  font-size: 0.8rem;
  font-family: 'L Futura W01';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
  .primary-btn:hover, .comment-form .form-submit input[type=submit]:hover, button:hover {
    background: #000;
    color: #FFF; }

.secondary-btn {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
  padding: 0.8em 2em;
  color: #8a967c;
  letter-spacing: 2px;
  font-size: 8px;
  font-size: 0.8rem;
  font-family: 'L Futura W01';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
  .secondary-btn:after {
    content: '\00bb';
    margin-left: .5em; }
  .secondary-btn:hover {
    color: #000; }

.menu-btn {
  text-transform: uppercase;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 1em;
  text-align: center;
  line-height: 0;
  width: 40px;
  height: 40px; }
  .menu-btn:before {
    display: inline-block;
    width: 12px;
    height: 12px;
    line-height: 1;
    font-size: 1em;
    vertical-align: middle; }

.facebook-btn,
.twitter-btn,
.tumblr-btn,
.instagram-btn,
.pinterest-btn,
.google-plus-btn,
.youtube-btn,
.email-btn {
  color: #666666; }
  .facebook-btn:hover,
  .twitter-btn:hover,
  .tumblr-btn:hover,
  .instagram-btn:hover,
  .pinterest-btn:hover,
  .google-plus-btn:hover,
  .youtube-btn:hover,
  .email-btn:hover {
    text-decoration: none; }
  .facebook-btn:before,
  .twitter-btn:before,
  .tumblr-btn:before,
  .instagram-btn:before,
  .pinterest-btn:before,
  .google-plus-btn:before,
  .youtube-btn:before,
  .email-btn:before {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 110%;
    vertical-align: middle;
    display: inline-block; }

.facebook-btn.large:after {
  content: 'Share'; }
.facebook-btn:hover:before {
  color: #3b5998; }

.twitter-btn.large:after {
  content: 'Tweet'; }
.twitter-btn:hover:before {
  color: #1ab2e8; }

.tumblr-btn:hover:before {
  color: #2a4560; }

.instagram-btn:hover:before {
  color: #d6c3b4; }

.pinterest-btn.large:after {
  content: 'Pin'; }
.pinterest-btn:hover:before {
  color: #cc2127; }

.youtube-btn:hover:before {
  color: #da2713; }

.email-btn:hover:before {
  color: #999; }

.search-btn {
  background: none;
  text-transform: uppercase;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 1em;
  text-align: center;
  line-height: 0; }
  .search-btn:before {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    vertical-align: middle; }

.overlay-btn {
  position: relative;
  display: block; }
  .overlay-btn:after {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    visibility: hidden; }
  .overlay-btn .overlay {
    visibility: hidden;
    opacity: 0;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .overlay-btn:hover:after,
  .overlay-btn:hover .overlay {
    opacity: 1;
    visibility: visible; }

@media print {
  .print-btn {
    display: none; } }

.product-btn {
  text-align: center;
  color: #000; }
  .product-btn .header {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFF;
    margin: 30% 1em;
    padding: 1em;
    border: 1px solid #dadada; }
  .product-btn .title {
    color: #333333;
    line-height: 1.4;
    font-size: 16px;
    font-size: 1.6rem; }
  .product-btn .meta {
    font-size: 12px;
    font-size: 1.2rem;
    color: #666;
    margin: 0.5em 0 1em; }
  .product-btn .category {
    text-transform: uppercase;
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 2px; }
    .product-btn .category span {
      color: #000; }
  .product-btn img {
    max-height: 100%; }

.up-btn {
  background: none;
  border: 0;
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  display: inline-block;
  width: 10em; }
  .up-btn:before {
    font-size: 4em;
    margin: 0 0 0.2em;
    display: block; }
  .up-btn:hover {
    background: none;
    color: #dec7cd; }

.down-btn {
  background: none;
  border: 0;
  text-align: center;
  font-size: 9px;
  letter-spacing: 1px;
  display: inline-block;
  width: 10em; }
  .down-btn:before {
    font-size: 4em;
    margin: 0 0 0.2em;
    display: block; }
  .down-btn:hover {
    color: #dec7cd;
    background: none; }

.print-btn {
  display: inline-block;
  font-family: 'L Futura W01';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  color: #d0d0d0; }
  .print-btn:hover {
    color: #000; }
  .print-btn:after {
    margin: 0 0 0 0.5em;
    font-size: 12px;
    font-size: 1.2rem; }

.comments-btn {
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0.8em; }
  .comments-btn:before {
    margin: 0 0.5em 0 0;
    font-size: 0.6em;
    vertical-align: middle;
    color: #dadada; }

.shares-btn {
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0.8em; }
  .shares-btn:before {
    margin: 0 0.5em 0 0;
    font-size: 0.9em;
    vertical-align: middle;
    color: #dadada; }

.close-btn {
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0.8em;
  border: 0; }
  .close-btn:before {
    vertical-align: middle; }

.gallery-btn {
  display: inline-block;
  position: relative;
  color: #000;
  background: #000; }
  .gallery-btn:before {
    vertical-align: middle;
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 200; }
  .gallery-btn:after {
    content: 'Start Slideshow';
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -76.5px;
    margin-top: -12.5px;
    z-index: 100;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    line-height: 1;
    font-size: 25px;
    font-size: 2.5rem; }
  .gallery-btn:hover {
    color: #FFF; }
    .gallery-btn:hover img {
      opacity: 0.4; }
    .gallery-btn:hover:after {
      opacity: 1; }
  .gallery-btn img {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block; }

.category-btn {
  display: inline-block;
  position: relative;
  color: #000; }
  .category-btn:hover .image img {
    -webkit-filter: none;
    filter: none; }
  .category-btn .name {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -1em;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 200; }
    .category-btn .name:before {
      color: #919191; }
  .category-btn .image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .category-btn .overlay {
    text-align: center;
    top: 50%;
    margin-top: -2.5em; }
  .category-btn .sub-name {
    font-family: 'Monotype Garamond W01';
    font-weight: 400;
    font-style: italic;
    margin: 0 0 0.5em 0; }

/* =============================================================================
   Misc
   ========================================================================== */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

.hide {
  display: none; }

@media only screen and (max-width: 800px) {
  .hide-on-tablet {
    display: none !important; } }

@media only screen and (max-width: 400px) {
  .hide-on-mobile {
    display: none !important; } }

.show,
.block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.no-border {
  border: none; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.valign-middle {
  vertical-align: middle; }

.valign-center {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.dropshadow {
  -moz-box-shadow: 3px 3px 4px #666;
  -webkit-box-shadow: 3px 3px 4px #666;
  box-shadow: 3px 3px 4px #666; }

.text-shadow {
  text-shadow: 0px 2px 2px white; }

hr {
  background-color: #dddddd;
  border: 0;
  height: 3px;
  margin: 1em auto;
  width: 50px; }

.circle {
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  overflow: hidden; }

@media only screen and (max-width: 800px) {
  .break-on-tablet {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 400px) {
  .break-on-mobile {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0; } }

.left, .alignleft {
  float: left; }

.right, .alignright {
  float: right; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.aligncenter,
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none; }

.full-height {
  height: 100%; }

.clear:after,
.clearfix:after,
.gform_wrapper form .gform_body .gform_fields:after,
.comment-form .comment-form-author:after,
.comment-form .comment-form-email:after,
.comment-form .comment-form-url:after,
.comment-form .comment-form-comment:after {
  content: '';
  display: table;
  clear: both; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  overflow-x: hidden;
  padding: 10px;
  color: #333333;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  min-width: 250px;
  font-family: 'Monotype Garamond W01';
  font-weight: 400;
  font-style: normal; }

a {
  color: #701830;
  font-weight: bold; }
