@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}


@mixin futura {
	font-family: 'L Futura W01';
	font-weight: 400;
	font-style: normal;
}

.futura {
	@include futura;
}

@mixin futura-bold {
	font-family: 'L Futura W01';
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
}

.futura-bold {
	@include futura-bold;
}

@mixin futura-light {
	font-family: 'L Futura W01';
	font-weight: 300;
	font-style: normal;
	text-transform: uppercase;
}

.futura-light {
	@include futura-light;
}

@mixin garamond {
	font-family:'Simoncini Garamond W01';
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.garamond {
	@include garamond;
}

@mixin garamond-italic {
	font-family: 'Simoncini Garamond W01'; 
	font-weight: 400;
	font-style: italic;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

.garamond-italic {
	@include garamond-italic;
}

@mixin garamond-bold {
	font-family: 'Simoncini Garamond W01'; 
	font-weight: 700;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

.garamond-bold {
	@include garamond-bold;
}
