html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	min-width: 250px;
	@include garamond;
	@include transition(all 0.3s ease);
	padding-top: 220px;

	@include device-width(12) {
		padding-top: 174px;
	}

	@include device-width(10) {
		padding-top: 144px;
	}

	@include device-width(9) {
		padding-top: 70px;
	}

	@include device-width(6) {
		padding-top: 0;
	}

	&.header-fixed {
		padding-top: 77px;
	}
}

#tortilla {

}

/* =============================================================================
   Header Layout
   ========================================================================== */

#header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: #FFF;
	@include transition(all 0.3s ease);
	z-index: 200;
	border-top: 10px solid $olive;
	padding: 4.5em 0 3em;

	@include device-width(12) {
		padding: 2.5em 0 2em;
	}

	@include device-width(10) {
		padding: 1.5em 0 1em;
	}

	@include device-width(9) {
		padding: 10px 0;
	}

	@include device-width(6) {
		position: relative;
	}

	&.navigation-open {
		.primary-navigation {
			height: auto;
			max-height: 500px;
		}

		.info {
			.social {
				@include device-width(9) {
					display: none;
				}
			}

			.search-form {
				@include device-width(9) {
					display: inline-block;
				}
			}
		}
	}

	&.search-focus {
		.logo-container {
			@include device-width(4) {
				display: none;
			}
		}
	}

	> .inner {
		position: relative;
		padding-bottom: 30px;
		@include transition(padding 0.3s ease);

		@include device-width(9) {
			padding-bottom: 0;
			height: 40px;
		}
	}

	.logo-container {
		padding: 20px 10px 0 10px;
		position: absolute;
		z-index: 200;
		@include transition(all 0.3s ease);

		@include device-width(10) {
			padding-top: 14px;
		}

		@include device-width(6) {
			padding-top: 0;
		}

		.tagline {
			position: absolute;
			top: 0;
			left: 10px;
			right: 10px;
			@include garamond-italic;
			@include font-size(14);
			display: block;
			@include transition(all 0.3s ease);
			opacity: 1;
			visibility: visible;
			
			@include device-width(10) {
				@include font-size(10);
			}

			@include device-width(6) {
				display: none;
			}			
		}
		
		.logo {
			@include font-size(270);
			@include transition(font-size 0.3s ease);

			&:hover {
				color: $dark-green;
			}

			@include device-width(12) {
				@include font-size(240);
			}

			@include device-width(11) {
				@include font-size(220);
			}	

			@include device-width(10) {
				@include font-size(110);
			}			

			@include device-width(4) {
				@include font-size(80);
			}			
		}
	}

	.menu-btn {
		display: none;

		@include device-width(9) {
			position: absolute;
			display: inline-block;
			right: 1em;
			top: 50%;
			@include translateY(-50%);
		}
	}

	.primary-navigation {
		padding: 0 10px;
		margin-bottom: 3em;
		@include transition(all 0.3s ease);

		@include device-width(9) {
			padding: 0;
			position: absolute;
			top: 100%;
			width: 100%;
			margin-top: 10px;
			z-index: 100;
			margin-bottom: 0;
		}
	}

	.info {
		//float: right;
		opacity: 1;
		visibility: visible;
		padding: 0 10px;
		position: absolute;
		bottom: 0;
		right: 0;
		@include transition(all 0.1s ease);

		@include device-width(9) {
			position: absolute;
			right: 5em;
			top: 50%;
			bottom: auto;
			@include translateY(-50%);
			margin: 0;		
			padding: 0;
		}

		@include device-width(4) {
			right: 4em;
		}

		.search-form,
		.shop-btn,
		.social {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1em;
		}

		.search-form {
			width: auto;

			@include device-width(9) {
				display: none;
			}
		}

		.social {
			display: inline-block;
			vertical-align: middle;
			border-left: 1px solid #c2c2c2;
			padding: 0 1em 0 1.5em;

			@include device-width(9) {
				border-left: 0;
				padding: 0;
			}

			.label {
				@include garamond-italic;
				color: #7ca251;
				@include font-size(12);
				display: inline-block;
				vertical-align: middle;	
				text-transform: lowercase;

				@include device-width(5) {
					display: none;
				}
			}

			.social-links {
				display: inline-block;
				vertical-align: middle;
			}
		}

		.shop-btn {
			@include device-width(9) {
				display: none;
			}
		}
	}

	.admin-bar.header-fixed & {
		top: 32px;

		@include device-width(8) {
			top: 46px;
		}

		@include device-width(6) {
			top: 0;
		}
	}

	.header-fixed & {
		@include box-shadow(1px 1px 10px #ccc);
		padding: 1.5em 0;
		
		@include device-width(9) {
			padding: 10px 0;
		}
		@include device-width(6) {
			position: relative;
			@include box-shadow(none);
		}

		> .inner {
			padding-bottom: 0;
		}

		.primary-navigation {
			margin-bottom: 0;
		}

		.info {
			opacity: 0;
			visibility: hidden;
		}

		.logo-container {
			margin-top: -6px;
			padding-top: 0;

			.tagline {
				opacity: 0;
				visibility: hidden;
			}

			.logo {
				@include font-size(100);
			}	
		}
	}
}

/* =============================================================================
   Main Layouts
   ========================================================================== */
		
			
#main {
	position: relative;
	z-index: 100;
	padding: 0;
	background: #FFF;
	margin-top: 1em;

	@include device-width(9) {
		.sidebar-open & {
			z-index: 300;
		}
	}
}

#sidebar {}

/* =============================================================================
   Footer Layout
   ========================================================================== */

#footer {
	background: $dark-gray;
	color: #666;
	z-index: 100;

	.container {
		@include device-width(12) {
			padding: 0 10px;
		}
	}

	.top {
		padding-top: 3em;
	}
	
	.logo-container {
		float: left;
		margin-bottom: -0.5em;
		width: 30%; 

		@include device-width(14) {
			margin-bottom: .5em;
		}

		@include device-width(7) {
			width: 50%;
		}		

		.tagline {
			@include garamond-italic;
			@include font-size(14);
			display: block;
			color: #bebebe;
			margin: .5em 0;

			@include device-width(4) {
				display: none;
			}
		}

		.logo {
			@include font-size(155);
			color: #bebebe;

			@include device-width(9) {
				@include font-size(135);
			}

			@include device-width(4) {
				@include font-size(95);
			}			

			&:hover {
				color: $olive;
			}
		}
	}

	.secondary-navigation {
		float: left;

		@include device-width(7) {
			width: 50%;

			li {
				text-align: right;
			}
		}
	}

	.social-links {
		@include inline-block;
		z-index: 1;
		position: absolute;
		right: 10px;		

		a {
			color: $white;
		}		

		@include device-width(7) {
			width:100%;
			text-align: center;
			position: static;

			li {
				float: none;
				@include inline-block;
			}
		}
	}

	.created-by {
		display: block;
		@include font-size(10);
		color: $gray;
		@include futura;
		text-transform: none;	
		clear: right;	
		z-index: 1;
		position: absolute;
		right: 10px;
		bottom: 2em;

		@include device-width(7) {
			width: 100%;
			position: static;
			margin: 1em 0;
		}


		span {
			display: block;
			text-align: right;

			@include device-width(7) {
				text-align: center;
			}		


			a {
				color: #a9a9a9;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.copyright {
		color: #636363;
		@include font-size(14);
		@include garamond-italic;
		position: absolute;
		left: 30%;
		bottom: 1.5em;

		@include device-width(9) {
			top: 9.5em;
		}

		@include device-width(7) {
			width: 100%;
			text-align: center;
			position: static;
			margin-bottom: 1em;
		}
	}

	.bottom-nav {
		padding: 24px 0;
		background: $dark-green;
	}	
}

#related-posts {
	background: #ebebeb;
	overflow: auto;

	> .inner {
		min-width: 1000px;
	}

}

//what is this for?
#index, #category .sidebar-content {
	ul.posts {
		li {
			margin-bottom: 3em;
		}
	}
}
