html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	min-width: 250px;
	@include garamond;
}

#tortilla {

}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	position: relative;
	z-index: 200;
	background: #FFF;
	@include transition(all 0.3s ease);
	z-index: 500;
	border-top: 10px solid $olive;

	&.navigation-open {
		.primary-navigation {
			height: auto;
			max-height: 500px;
		}
	}

	> .inner {
		position: relative;
		z-index: 100;
		padding: 4.5em 0 3em;
		@include transition(padding 0.3s ease);

		@include device-width(9) {
			padding: 0.5em 0 1em;
		}
	}

	.logo-container {
		float: left;
		padding: 0 10px;
		position: absolute;

		@include device-width(13) {
			width: 2.5em;
		}		

		@include device-width(9) {
			width: 100%;
			position: static;
			float: none;
			margin: .5em 0;
		}

		@include device-width(4) {
			width: 100%;
			position: static;
			text-align: left;
			float: none;
			margin: .5em 0;
		}			
			
		.tagline {
			@include garamond-italic;
			@include font-size(14);
			display: block;
			margin: 0.5em 0;

			@include device-width(9) {
				@include font-size(10);
			}

			@include device-width(6) {
				display: none;
			}			
		}
		
		.logo {
			@include font-size(270);

			&:hover {
				color: $dark-green;
			}

			@include device-width(13) {
				@include font-size(180);
			}			

			@include device-width(10) {
				@include font-size(90);
			}			

			@include device-width(9) {
				@include font-size(100);
			}			
		}
	}

	.menu-btn {
		display: none;

		@include device-width(9) {
			display: block;
			position: absolute;
			right: 1em;
			top: 4.6em;
		}
	}

	.primary-navigation {
		//padding: 0 10px;
	}

	.info {
		float: right;
		position: relative;
		padding: 0 10px;
		margin-top: 3em;
		@include transition(all 0.3s ease);

		.search-form {
			float: left;
			margin-right: 0.5em;
			width: auto;
		}

		.shop-btn {
			float: right;
			margin: -6px 0 0 10px;
		}

		.follow-us {
			@include garamond-italic;
			color: #7ca251;
			@include font-size(12);
			border-left: 1px solid #c2c2c2;
			padding: 0 0 0 1em;
			line-height: 2.2em;			
		}

		.social-links {
			float: right;
			display: block;

			@include device-width(4) {
				display: none;
			}
		}

		@include device-width(9) {
			margin-top: 10px;
			position: absolute;
			right: 3.3em;
			top: 4em;			
		}		

		
		.search-form, .follow-us {
			@include device-width(6) {
				display: none;
			}			
		}
	}

	.admin-bar.header-fixed & {
		top: 32px;

		@include device-width(8) {
			top: 46px;
		}
	}

	.header-fixed & {
		position: fixed;
		top: 0;
		width: 100%;
		@include box-shadow(1px 1px 10px #ccc);


		> .inner {
			padding: 1.5em 0;
		}

		.logo-container {
			top: 4px;

			.tagline {
				display: none;
			}

			.logo {
				@include font-size(100);
			}	
		} 

		.info {
			display: none;

			@include device-width(9) {
				display: block;
			}
		}	

		@include device-width(9) {
			.logo-container {
				margin: 0;
			}

			.info {
				top: 2.2em;
			}

			.menu-btn {
				top: 2.5em;
			}
		}	

		@include device-width(5) {
			.inner {
				padding: .5em 0;
			}
			.logo-container {
				.logo {
					@include font-size(50);
				}
			}

			.info {
				top: 1em;
			}

			.menu-btn {
				top: 1.2em;
			}
		}			
	}
}

/* =============================================================================
   Main Layouts
   ========================================================================== */
		
			
#main {
	position: relative;
	z-index: 100;
	padding: 0;
	background: #FFF;
	margin-top: 1em;

	@include device-width(9) {
		z-index: 300;
	}
}

#sidebar {
	
	@include device-width(9) {
		border-left: none;
	}
}

/* =============================================================================
   Footer Layout
   ========================================================================== */

#footer {
	background: $dark-gray;
	color: #666;
	z-index: 100;

	.container {
		@include device-width(12) {
			padding: 0 10px;
		}
	}

	.top {
		padding-top: 3em;
	}
	
	.logo-container {
		float: left;
		margin-bottom: -0.5em;
		width: 30%; 

		@include device-width(14) {
			margin-bottom: .5em;
		}

		@include device-width(7) {
			width: 50%;
		}		

		.tagline {
			@include garamond-italic;
			@include font-size(14);
			display: block;
			color: #bebebe;
			margin: .5em 0;

			@include device-width(4) {
				opacity: 0;
			}
		}

		.logo {
			@include font-size(155);
			color: #bebebe;

			@include device-width(9) {
				@include font-size(135);
			}

			@include device-width(4) {
				@include font-size(95);
			}			

			&:hover {
				color: $olive;
			}
		}
	}

	.social-links {
		float: right;
		display: block;
		margin-bottom: 4em;

		@include device-width(7) {
			@include inline-block;
			float: none;
			margin-bottom: 1em;
		}

		a {
			color: $white;
		}
	}

	.copyright {
		color: #636363;
		@include font-size(14);
		@include garamond-italic;
		padding-top: 6em;

		@include device-width(7) {
			position: absolute;
			bottom: 1em;
			width: 100%;
			text-align: center;
			left: 0;
		}
	}	

	.by {
		display: block;
		@include font-size(10);
		color: $gray;
		@include futura;
		text-transform: none;	
		clear: both;	

		@include device-width(7) {
			margin-bottom: 5em;
		}


		span {
			display: block;
			text-align: right;

			@include device-width(7) {
				text-align: center;
			}		


			a {
				color: #a9a9a9;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.middle, .last {
		float: left;
	}

	.middle {
		width: 50%;		

		.nav {
			margin-bottom: 4.5em;
		}

		@include device-width(9) {
			width: 40%;

			.nav {
				margin-bottom: 1em;	
			}
		}

		@include device-width(7) {
			width: 50%;
		}		
	}

	.last {
		width: 20%;

		@include device-width(9) {
			width: 30%;
		}

		@include device-width(7) {
			width: 100%;
			text-align: center;
		}		
	}

	.details-bottom {
		@extend .clearfix;
		padding: 75px 0 25px;
	}

	.bottom {
		padding: 24px 0;
		background: $dark-green;
	}	
}

#related-posts {
	background: #ebebeb;
	overflow: auto;

	> .inner {
		min-width: 1000px;
	}

}

#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: none;

	&.visible {
		display: block;
	}

	> .close-btn {
		position: absolute;
		top: 0;
		right: 2em;
		background: #FFF;
		color: #000;
		padding: 1em;
		z-index: 400;
		@include font-size(20);
	}

	> .overlay {
		background: rgba(#000, 0.5);
		z-index: 100;		
		opacity: 0;
		visibility: hidden;
		display: block;
		@include translate(opacity 0.3s ease);

		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}

	> .preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 200;
		margin: -20px 0 0 -20px;
		width: 40px;
		height: 40px;
		background: url(../images/misc/preloader.gif) no-repeat;
	}

	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 300;
	}
}

#index, #category .sidebar-content {
	ul.posts {
		li {
			margin-bottom: 3em;
		}
	}
}
