html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(15);
	line-height: 1.5;
	min-width: 250px;
	border-top: 10px solid $olive;
	@include garamond;
}

#tortilla {

}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	position: relative;
	z-index: 200;
	background: #FFF;
	@include transition(all 0.3s ease);

	&.navigation-open {
		.primary-navigation {
			height: auto;
			max-height: 500px;
		}
	}

	> .top {
		position: relative;
		z-index: 100;
		padding: 4.5em 0 4em;

		@include device-width(9) {
			padding: .5em 0 4em;
		}
	}

	> .bottom {
		@include device-width(9) {
			display: none;
		}
	}
		
	.logo-container {
		float: left;
		padding: 0 10px;
		position: absolute;

		@include device-width(13) {
			width: 2.5em;
		}		

		@include device-width(9) {
			width: 100%;
			position: static;
			text-align: center;
			float: none;
			margin: .5em 0;
		}

		@include device-width(4) {
			width: 100%;
			position: static;
			text-align: left;
			float: none;
			margin: .5em 0;
		}			
			
		.tagline {
			@include garamond-italic;
			@include font-size(14);
			display: block;
		}
		
		.icon-logo {
			@include font-size(240);

			&:hover {
				color: $dark-green;
			}

			@include device-width(13) {
				@include font-size(180);
			}			

			@include device-width(10) {
				@include font-size(90);
			}			

			@include device-width(9) {
				@include font-size(200);
			}			
		}
	}

	.menu-btn {
		display: none;

		@include device-width(9) {
			display: block;
			position: absolute;
			right: 1em;
			top: 6em;
		}
	}	

	.info {
		float: right;
		position: relative;
		padding: 0 10px;

		.follow-us {
			@include garamond-italic;
			color: #7ca251;
			@include font-size(12);
			border-left: 1px solid #c2c2c2;
			padding: 0 0 0 1em;
			line-height: 2.2em;			
		}

		.social-links {
			float: right;
			display: block;
		}
	}

	.search-form {
		float: left;
		padding: 0;
		margin-top: -7px; ;
	}
}

/* =============================================================================
   Main Layouts
   ========================================================================== */
		
			
#main {
	position: relative;
	z-index: 100;
	padding: 0;
	background: #FFF;
	//@extend .container;
	margin-top: 3em;

	@include device-width(9) {
		margin-top: 0;
	}
}

#content {
	padding: 0 10px;

	@include device-width(6) {
		padding: 0;
	}
}

#sidebar {
	margin: 0;
	padding: 0 10px;
	position: relative;
	.menu-btn {
		display: none;
		position: absolute;
		top: 0;
		left: -40px;

		@include device-width(9) {
			display: none;

			.sidebar-open & {
				//left: -40px;
			}
		}
	}
}

.sidebar-container {
	@extend .clearfix;
	@extend .container;
	position: relative;

	@include device-width(9) {
		overflow: hidden;
	}

	#content {
		float: left;
		width: calc(100% - 360px);
		position: relative;
		z-index: 100;
		left: 0;
		@include transition(all 0.3s ease);
		padding: 0 2.5em;

		@include device-width(9) {
			width: auto;
			float: none;

			.sidebar-open & {
				margin-left: -340px;
				margin-right: 340px;
			}
		}
	}

	#sidebar {
		float: right;
		width: 360px;
		z-index: 200;
		@include transition(all 0.3s ease);
		position: relative;
		@include device-width(9) {
			margin-right: -360px;

			.sidebar-open & {
				margin-right: 0;

				.widget {
					visibility: visible;
					opacity: 1;
				}
			}

			.widget {
				visibility: hidden;
				opacity: 0;
				@include transition(all 0.3s ease);
			}
		}
	}
}

/* =============================================================================
   Footer Layout
   ========================================================================== */

#footer {
	background: $dark-gray;
	color: #666;
	z-index: 100;

	.top {
		padding-top: 3em;
	}
	
	.logo-container {
		float: left;
		margin-bottom: -0.5em;
		width: 30%; 

		@include device-width(14) {
			margin-bottom: .5em;
		}

		@include device-width(7) {
			width: 50%;
		}		

		.tagline {
			@include garamond-italic;
			@include font-size(14);
			display: block;
			color: #bebebe;

			@include device-width(4) {
				display: none;
			}
		}

		.icon-logo {
			@include font-size(155);
			color: #bebebe;

			@include device-width(9) {
				@include font-size(135);
			}

			@include device-width(4) {
				@include font-size(95);
			}			

			&:hover {
				color: $olive;
			}
		}
	}

	.social-links {
		float: right;
		display: block;
		margin-bottom: 4em;

		@include device-width(7) {
			@include inline-block;
			float: none;
			margin-bottom: 1em;
		}

		a {
			color: $white;
		}
	}

	.copyright {
		color: $white;
		@include font-size(14);
		@include garamond-italic;

		@include device-width(4) {
			margin-left: -100%;
			text-align: center;
			margin-bottom: 1em;
		}
	}	

	.by {
		display: block;
		@include font-size(10);
		color: $gray;
		@include futura;
		text-transform: none;	
		clear: both;	

		@include device-width(7) {
			margin-bottom: 2em;
		}


		span {
			display: block;
			text-align: right;

			@include device-width(7) {
				text-align: center;
			}		


			a {
				color: #a9a9a9;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.mid, .last {
		float: left;
	}

	.mid {
		width: 50%;		

		.nav {
			margin-bottom: 4.5em;
		}

		@include device-width(9) {
			width: 40%;

			.nav {
				margin-bottom: 1em;	
			}
		}

		@include device-width(7) {
			width: 50%;
		}		
	}

	.last {
		width: 20%;

		@include device-width(9) {
			width: 30%;
		}

		@include device-width(7) {
			width: 100%;
			text-align: center;
		}		
	}

	.details-bottom {
		@extend .clearfix;
		padding: 75px 0 25px;
	}

	.bottom {
		padding: 24px 0;
		background: $dark-green;
	}	
}

#lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	display: none;

	&.visible {
		display: block;
	}

	> .close-btn {
		position: absolute;
		top: 0;
		right: 2em;
		background: #FFF;
		color: #000;
		padding: 1em;
		z-index: 400;
		@include font-size(20);
	}

	> .overlay {
		background: rgba(#000, 0.5);
		z-index: 100;		
		opacity: 0;
		visibility: hidden;
		display: block;
		@include translate(opacity 0.3s ease);

		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}

	> .preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 200;
		margin: -20px 0 0 -20px;
		width: 40px;
		height: 40px;
		background: url(../images/misc/preloader.gif) no-repeat;
	}

	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 300;
	}
}
