
/* =============================================================================
   Lists
   ========================================================================== */

.red-list {
	list-style: none;
	margin: 10px 0;
	padding: 0;

	li {
		list-style: none;
		padding: 2px 0 2px 14px;
	}
}

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}


/* =============================================================================
   Table
   ========================================================================== */

table {

 td {

	}
}


/* =============================================================================
   Custom
   ========================================================================== */

.overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}


blockquote {
	padding: 0 0 0 2.5em;
	position: relative;
	margin: 1em 0;
}

.pagination {
	@include futura;
	@include font-size(10);
	text-align: center;


	.page-numbers {
		@extend .primary-btn;
		padding: 1em 1.5em;
		margin: 0 0.2em;

		&.current {
			cursor: default;
			color: #FFF;
			background: #000;
			&:hover {
				color: #FFF;
				background: #000;
			}
		}

		&.dots {
			border: 0;

			&:hover {
				background: none;
				color: #000;
			}
		}
	}

	span {
		&.page-numbers {
			&:hover {
				cursor: default;
				color: #FFF;
				background: #000;
				
			}
		}
	}

	.next {
		//@extend .arrow-right-btn;
	}

	.prev {
		//@extend .arrow-left-btn;
	}
}

.embed-page {
	margin-top: 30px;
	margin-bottom: 30px;

	.content {
		padding: 20px 0 0 0;

		.column-left,
		.column-right {
			font-size: 11px;
			line-height: 15px;
			font-family: Arial, Helvetica, sans-serif;

			p {
				margin: 2px 0;
			}

			ul {
				display: inline-block;
				margin-top: 2px;

				li {
					padding-right: 30px;
					border-bottom: 1px solid #dddddd;
				}
			}
		}

		.column-left {
			float: left;
			padding-left: 20px;
			width: 350px;
		}
		
		.column-right {
			float: right;
			width: 370px;
		}
	}
}


.has-tooltip,
.tooltip-btn {
	position: relative;
}

.tooltip {
	position: absolute;
	background: #161616;
	bottom: -40px;
	border: 1px solid #2f2f2f;
	left: 50%;
	width: 170px;
	margin: 0 0 0 -90px;
	list-style: none;
	padding: 5px;
	display: none;
	@include transition-property(opacity);

 	&:after {
	    border-color: #161616 transparent;
	    border-style: solid;
	    border-width: 0 6px 6px 6px;
	    top: -6px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -3px;
	}
	&:before {
	    border-color: #2f2f2f transparent;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    top: -8px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -4px;
	}

	input[type=text]{
		margin: 0;
		padding: 5px;
	}
}



.scale {
	width: 100%;
	height: auto !important;
	//max-height: 100%;
	max-width: 100%;
	display: block;
}

.shadow {
	position: relative;
	z-index: 100;
	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		}
		position: absolute;
		width: 70%;
		height: 50%;
		bottom: 0;
		left: 15%;
		@include box-shadow(0px 0px 30px 5px #000);
		@include transform(
			perspective(290) rotateX(40deg)
		);
	}

	> * {
		position: relative;
		z-index: 200;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0;
	@extend .clearfix;
	li {
		float: left;
		margin: 0 0 0 1em;

		.title {
			@include font-size(15);
			margin: 0.3em 0;
		
		}
	}

	a {
		display: inline-block;
		color: #bbbbbb;
		vertical-align: middle;
		padding: 0.6em 0;	
	}
}

.share-links {
	@extend .clearfix;
	list-style: none;
	padding: 0;
	margin: 0;

	a {
		float: left;
		margin: 0 0 0 1px;
	}
}

.full-width-image {
	position: relative;
	background-size: cover;
	background-position: center;
	padding: 40% 0 0 0;
	overflow: hidden;

	&.attachment-fixed {
		background-attachment: fixed;
	}
	img {
		position: absolute;
		width: 100%;
		height: auto;
		@include opacity(0);
		top: 0;
		left: 0;

		.no-opacity {
			display: none;
		}
	}
}


.post-header {

}

.post-content {

	h1, h2, h3, h4, h5, h6 {

		margin: 1em 0;
	}

	.post-carousel,
	p {
		margin: 2em 0;

		@include device-width(4) {
			margin: 1em 0;
		}
	}

	.user,
	.gform_wrapper {
		margin: 1em 0;
	}

	.wp-caption {
		width: auto !important;
		position: relative;

		.wp-caption-text {
			position: absolute;
			bottom: 0;
			left: 30px;
			right: 30px;
			background: #FFF;
			padding: 1em;
			margin: 0;
		}
	}

	.text {
		padding: 0 10em;

		@include device-width(10) {
			padding: 0 5em;
		}

		@include device-width(4) {
			padding: 0 2em;
		}
	}

	.size-large {
		width: 100%;
	}

	img {
		float: none;
	}	
}

.logo {
	height: 0;
	background: url(../images/logos/overthemoon.png) no-repeat;
	background-size: contain;
	padding-top: 55%;
	display: block;
}

.related-posts {
	margin: 2em 0;
	.posts {
		padding: 1em 0;
		margin: 0 -10px;
		list-style: none;

		.post {
			text-align: center;
			color: #000;
			.title {
				margin: 0;
			}
			
			.meta {
				margin: 0.5em 0 1em;
			}

			.date {
				font-size: 8px;
			}
		}
	}
}

.navigation {
	> ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		> li {
			float: left;
			position: relative;
			@include transition(all 0.3s ease);
			margin-right: 5em;
			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}

			a {
				@include futura-bold;
				@include font-size(10);
				letter-spacing: 1px;
				color: $white;

				&:hover {
					color: $olive;
				}
			}
		}

	}
}

.primary-navigation {
	> ul {
		> li {
			@extend .green-label;
			
			&:before {
				@include futura;
				@include font-size(10);
				letter-spacing: 1px;
				opacity: 0;
				color: $olive;
				@include transition(all 0.3s ease);
				margin-right: 1px;
			}	

			a {
				color: $black;
				&:hover {
					color: $black;					
				}
			}		

			ul {
				display: none;
				list-style-type: none;
				padding: 0;

				li {
					a {
						@include miller-italic;
						text-transform: none;
					}
				}
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				ul {
					display: block;
					position: absolute;

				}
			}

			&.menu-item-has-children {
				&:after {
					@include icon(caret-down);
					@include font-size(10);
				}
			}			
		}
	}
}

.secondary-navigation {
	> ul {
		li {
			margin-right: 3em;

			a {
				color: $mid-gray;
				@include futura;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

.footer-primary-navigation {
	text-align: right;

	ul {
		@include inline-block;

		li {
			margin-right: 8.3em;
		}
	}
}



.post-header {
	position: relative;

	.post-title {
		margin-top: 0.3em;
	}

	.post-excerpt {
		margin: 1em 0;
	}

	.post-meta {
		position: absolute;
		bottom: 1px;
		right: 1px;
		background: #ffffff;

		@include device-width(7) {
			position: relative;
			top: 0;
			left: 0;
			margin: 1em 0 0 0;
			display: inline-block;
		}

		.shares-btn,
		.comments-btn,
		.post-date {
			float: left;
			border-left: 1px solid #f6f6f6;
		}

		.post-date {
			padding: 1em;
		}
	}
}

.post-share {
	background: #fbfbfb;
	position: relative;

	.share {
		.title {
			padding: 0.5em 0.6em;
			display: inline-block;
		}

		.share-links {
			margin: 1px 0;
			display: inline-block;
			vertical-align: middle;

			a {
				background: #FFF;
				color: #bbbbbb;
				padding: 0.5em 0.8em;
			}
		}
	}

	.post-meta {
		position: absolute;
		top: 1px;
		bottom: 1px;
		right: 1px;
		background: #ffffff;

		.shares-btn,
		.comments-btn,
		.post-date {
			float: left;
			border-left: 1px solid #f6f6f6;
		}

		.post-date {
			padding: 1em;
		}
	}
}

.post-date {
	@include font-size(12);
}

.post-category {
	display: inline-block;
	text-transform: uppercase;
	@include font-size(10);
	letter-spacing: 2px;
}

.post-title {
	&.long {
		@include font-size(22);
	}
}

.post-excerpt {
	@include font-size(14);
}


.post-navigation {
	padding-left: 0;
	padding-right: 0;
	margin: 2em 0;

	.btn {
		background: #fbfbfb;
		width: 48.5%;

		&:hover {
			background: #000;
			color: #FFF;
		}
	}

	.previous {
		float: left;
	}

	.next {
		float: right;
	}

	.featured-image {
		padding: 0;

		@include device-width(6) {
			display: none;
		}
	}

	.content {

		&.has-thumbnail {
			margin-top: 4%;
		}

		@include device-width(12) {
			margin-top: 0;
		}

		@include device-width(6) {
			width: auto;
			float: none;
		}

		.date {
			margin: 0;
		}
	}

	.direction {
		@include font-size(10);
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.post-title {
		margin: 0.2em 0;
		@include device-width(5) {
			display: none;
		}
	}

}

.post-comments {
	margin: 4em 0 2em 0;
	padding: 1em 0;
	border-top: 10px solid #fbfbfb;

	@include device-width(6) {
		padding: 1em 10px;
	}

	.comment-list {
		margin: 2em 0 0 0;
	}
}

.comment-respond {

	.comment-reply-title {
		text-align: center;
		color: #666666;
		letter-spacing: 2px;
		@include font-size(18);
	}

}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding: 2em 3em;

		@include device-width(10) {
			padding: 1em;
		}

		&:nth-child(2n - 1) {
			background: #f5f5f5;
		}

		p {
			margin: 1em 0;
		}

		.comment-author {
			cite {
				color: #000;
				@include futura;
				@include font-size(18);
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.says {
				color: #848484;
			}
		}

		.comment-meta {
			@include futura;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 8px;

			a {
				color: #848484;

				&:hover {
					color: #000;
				}			
			}
		}

		.comment-reply-link {
			@include futura;
			font-size: 8px;
			letter-spacing: 0.5px;
			padding: 1em 0;

			&:before {
				@include icon(reply);
				margin: 0 0.6em 0 0;
			}
		}

		.children {
			list-style: none;
			padding: 0;
		}
	}
}

.post-carousel {
	height: 100%;
	background: #FFF;

	.owl-stage-outer {
		height: 100%;
	}

	.owl-stage {
		height: 100%;
	}

	.owl-item {
		cursor: pointer;
		height: 100%;

		.item {
			@include transition( all 0.3s ease);
			opacity: 0.5;
			height: 100%;

			@include device-width(12) {
				opacity: 1;
			}
		}

		&.center {
			cursor: default;
			.item {
				opacity: 1;
			}
		}
	}

	.item {
		height: 100%;
		position: relative;
		overflow: hidden;
		text-align: center;

		img {
			max-width: 100%;
			height: 100%;
			position: relative;

			.lightbox & {
				@include device-width(12) {
					height: auto;
					top: 50%;
					@include translateY(-50%);
				}
			}
		}
		.content {
			position: absolute;
			bottom: 0;
			left: 15%;
			right: 15%;
			background: #FFF;
			padding: 2em;
			text-align: center;

			@include device-width(12) {
				background: #ececee;
			}

			@include device-width(5) {
				padding: 1em;
				left: 5%;
				right: 5%;
			}

			@include device-height(4) {
				padding: 1em;
				left: 5%;
				right: 5%;
			}

		}

		.title {
			letter-spacing: 0;
		}

		.description {
			margin-top: 0.5em;

			a {
				border-bottom: 1px solid #000;

				&:hover {
					border-bottom-color: #dec7cd;
				}
			}
		}
	}
}

.green-label {
	&:before {
		content: 'Green';
	}
}

.category-name {
	display: inline-block;
	background: #FFF;
	padding: 0.3em 1em;
	@include futura-bold;
	@include font-size(8);
	letter-spacing: 1px;
	vertical-align: top;
	
	&:before {
		color: #919191;
	}
}

.author {

	.image {
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.name {
		@include futura-bold;
		@include font-size(8);
		letter-spacing: 1px;
		display: block;
	}
}


.post-item {
	position: relative;

	.category {
		margin-top: -0.5em;
		position: absolute;
		top: 0;
		left: 50%;
		@include translateX(-50%);
	}

	.image {
		text-align: center;
		
		img {
			display: inline-block;
			vertical-align: top;
		}
	}

	.header {
		margin-top: -20px;
		padding: 0 2em;
		
	}
}

.post-header {
	text-align: center;

	.title {
		margin: 0.3em 0;
	}

	.excerpt {
		text-align: center;
		margin: 1em 0;
	}
}

.post-excerpt {
	@include font-size(12);
}
