
/* =============================================================================
   Lists
   ========================================================================== */

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}


/* =============================================================================
   Table
   ========================================================================== */

table {

 td {

	}
}


/* =============================================================================
   Custom
   ========================================================================== */

.overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}
	
.vertical-line {
	width: 1px;
	height: 100%;
	display: inline-block;
	background: #BEBEBE;
	vertical-align: middle;
}


blockquote {
	padding: 0 15%;
	position: relative;
	margin: 1em 0;
	@include garamond-italic;
	text-align: center;
	color: $black;
	margin: 1.5em;
	
	&:before {
		@include icon(quote);
		color: #dcdcdc;
	}

	p {
		margin: .5em !important;
		font-size: 22px !important;
		line-height: 1.3 !important;
		text-align: center !important;
	}
}

.pagination {
	text-align: center;
	text-transform: uppercase;
	@include font-size(10);
	@include futura-bold;
	letter-spacing: 2px;

	.page-numbers {
		//@extend .primary-btn;
		padding: 0.5em;
		margin: 0 0em;

		&.current {
			cursor: default;
			color: #ccc;

			&:hover {
				color: #FFF;
				background: #000;
			}
		}

		&.dots {
			border: 0;

			&:hover {
				background: none;
				color: #000;
			}
		}
	}

	span {
		&.page-numbers {
			&:hover {
				cursor: default;
				color: #FFF;
				background: #000;
				
			}
		}
	}

	.next {
		//@extend .arrow-right-btn;
	}

	.prev {
		//@extend .arrow-left-btn;
	}
}

.embed-page {
	margin-top: 30px;
	margin-bottom: 30px;

	.content {
		padding: 20px 0 0 0;

		.column-left,
		.column-right {
			font-size: 11px;
			line-height: 15px;
			font-family: Arial, Helvetica, sans-serif;

			p {
				margin: 2px 0;
			}

			ul {
				display: inline-block;
				margin-top: 2px;

				li {
					padding-right: 30px;
					border-bottom: 1px solid #dddddd;
				}
			}
		}

		.column-left {
			float: left;
			padding-left: 20px;
			width: 350px;
		}
		
		.column-right {
			float: right;
			width: 370px;
		}
	}
}


.has-tooltip,
.tooltip-btn {
	position: relative;
}

.tooltip {
	position: absolute;
	background: #161616;
	bottom: -40px;
	border: 1px solid #2f2f2f;
	left: 50%;
	width: 170px;
	margin: 0 0 0 -90px;
	list-style: none;
	padding: 5px;
	display: none;
	@include transition-property(opacity);

 	&:after {
	    border-color: #161616 transparent;
	    border-style: solid;
	    border-width: 0 6px 6px 6px;
	    top: -6px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -3px;
	}
	&:before {
	    border-color: #2f2f2f transparent;
	    border-style: solid;
	    border-width: 0 7px 7px 7px;
	    top: -8px;
	    content: "";
	    display: block;
	    left: 50%;
	    position: absolute;
	    width: 0;
	    margin-left: -4px;
	}

	input[type=text]{
		margin: 0;
		padding: 5px;
	}
}



.scale {
	width: 100%;
	height: auto !important;
	//max-height: 100%;
	max-width: 100%;
	display: block;
}

.shadow {
	position: relative;
	z-index: 100;
	&:before {
		content: '';
		z-index: 0;
		display: none;
		.loaded & {
			display: block;
		}
		position: absolute;
		width: 70%;
		height: 50%;
		bottom: 0;
		left: 15%;
		@include box-shadow(0px 0px 30px 5px #000);
		@include transform(
			perspective(290) rotateX(40deg)
		);
	}

	> * {
		position: relative;
		z-index: 200;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}


.share-links,
.social-links {
	list-style: none;
	padding: 0;
	margin: 0;
	@extend .clearfix;
	li {
		float: left;
		margin: 0 0 0 0.8em;
	}

	a {
		display: inline-block;
		color: #000000;
		vertical-align: middle;
		padding: 0;	
	}
}

.share-links {
	a {
		@include font-size(13);
	}
}

.page-content,
.post-content {
	clear: both;	
	text-align: left;

	h1,h2,h3,h4,h5,h6 {
		@include futura-bold;
		letter-spacing: 1px;
	}


	ol {
		counter-reset: counter;

		li {
			padding: 0 0 0 2em;
			position: relative;
			line-height: 1.4;
			margin: 1.5em 0;
			&:before {
				position: absolute;
				left: 0;
				font-size: 0.9em;
				@include futura-bold;
				content: counter(counter);
				counter-increment: counter;
			}
		}
	}

	h6 {
		@include font-size(13);
	}

	p {
		margin: 1.5em 0;
		@include font-size(17);
		line-height: 1.5;
		text-align: justify;				
	}

	.post-title {
		margin: 0.75em 0;
	}

	.wp-caption-text {
		padding-right: 10px;
		@include futura;
		text-transform: initial !important;
	}
	

	.alignleft {
		margin-left: -15%;
		margin-right: 1em;
	}

	.alignright {
		margin-right: -15%;
		margin-left: 1em;

		&.wp-caption {
			.wp-caption-text {
				text-align: left;
			}
		}					
	}

	.wp-caption-text {
		margin: 0;
		text-align: right;
		@include font-size(10);
	}	
}

.more-from {
	border-top: 15px solid $black;
	position: relative;

	.more-from-header {
		padding-top: 4px;

		&:before {
			content:' ';
			display: block;
			height: 4px;
			background: $olive;
			margin-top: -19px;
		}


		&:after {
			content: ' ';
			width: 0; 
			height: 0; 
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid $black;		
			left: 50%;
			margin-left: -8px;
			top: 0;
			position: absolute;
		}

		.title {
			@include miller-italic;
			@include font-size(18);
			text-align: center;
			margin-top: 16px;
			padding: 1em 0;
			text-transform: uppercase;
		}	
	}

	.posts {
		padding: 1em 0;
		list-style: none;
		overflow: auto;

		.post-list {
			margin: 0 -10px;
			min-width: 800px;
		}

		.post {
			width: 25%;
			float: left;
			padding: 0 10px;
			margin-bottom: 2.5em;
		}

		.post-item {
			text-align: center;
			color: #000;

			.post-header {
				padding: 0 .5em;
				margin-top: 1em;			
			}

			.title {
				margin: 0;
			}

			.excerpt {
				@include garamond;
				@include font-size(14);
				color: $gray;
				line-height: 1.3;
			}				
		}
	}
}

.navigation {
	.menu {
		@extend .clearfix;
	}

	li {
		float: left;
		position: relative;
		@include transition(all 0.3s ease);
		margin-right: 5em;
		cursor: pointer;

		a {
			@include futura-bold;
			@include font-size(10);
			letter-spacing: 1px;

			&:hover {
				color: $olive;
			}
		}
	}
}

.primary-navigation {
	text-align: right;

	@include device-width(9) {
		max-height: 0;
		overflow: hidden;
		-webkit-transition: max-height 0.8s;
		-moz-transition: max-height 0.8s;
		transition: max-height 0.8s;		
	}

	> .menu {
		@include inline-block;

		@include device-width(9) {
			display: block;
		}


		> li {
			@extend .green-label;
			
			&:before {
				@include futura;
				@include font-size(10);
				letter-spacing: 1px;
				opacity: 0;
				color: $olive;
				@include transition(all 0.3s ease);
				margin-right: 1px;

				@include device-width(9) {
					display: none;
				}
			}

			&:last-child {
				margin-right: 0;
			}	

				@include device-width(15) {
					margin-right: 3em;
				}			

				@include device-width(9) {
					float: none;
					width: 100%;
					margin: 0;
				}

			a {
				color: $black;
				&:hover {
					color: $black;					
				}

				@include device-width(9) {
					display: block;
					text-align: center;
					padding: 1.5em;
					background: $dark-gray;
					color: $mid-gray;
					border-bottom: 1px solid #343434;

					&:hover {
						color: $white;
					}
				}
			}		

			.sub-menu {
				display: none;
				list-style-type: none;
				padding: 0;
				border-top: 2px solid black;
				border-bottom: 2px solid black;				

					@include device-width(9) {
						//display: block;
					}

				li {
					margin: 0;
					width: 100%;

					a {
						@include futura;
						
						text-transform: none;
						background: #FFF;
						padding: 1em .5em;
						color: #8c8c8c;
						@include font-size(10);
						text-transform: uppercase;

						@include device-width(9) {
							background: #1F1F1F;
							color: #888;
						}
					}
				}
			}

			&.current-menu-item, &.current-menu-ancestor {
				&:before {
					opacity: 1;

					@include device-width(9) {
						opacity: 0;
					}

				}				
			}

			&:hover, {
				&:before {
					opacity: 1;

					@include device-width(9) {
						opacity: 0;
					}

				}

				.sub-menu {
					display: block;
					position: absolute;
					width: 260px;
					right: 0;
					padding: 1em ;
					z-index: 5;
					background: #FFF;
					@include box-shadow(3px 1px 12px #ccc);

					@include device-width(9) {
						width: 100%;
						padding: 0;
						display: none;
					}

					a {
						display: block;
						padding: .3em .5em;

						&:hover {
							color: $black;
						}
					}
			
					@include device-width(9) {
						// display: none;
						position: static;
					}
				}
			}

			&.menu-item-has-children {
				&:after {
					@include icon(caret-down);
					@include font-size(10);

					@include device-width(9) {
						display: none;
					}
				}
			}			
		}
	}
}



.secondary-navigation {
	@include device-width(9) {
		margin: 0 0 1.5em 0;
	}

	> ul {
		li {
			margin-right: 3em;

			@include device-width(14) {
				margin-right: 2em;				
			}

			@include device-width(10) {
				margin-right: 1em;				
			}

			@include device-width(9) {
				margin:0;
				width: 100%;				
			}			


			a {
				color: $mid-gray;
				@include futura;

				&:hover {
					color: $white;
				}
			}
		}
	}
}

.footer-primary-navigation {
	text-align: right;

	ul {
		@include inline-block;

		@include device-width(10) {
			display: block;
			width: 100%;
		}

		li {
			margin-right: 8.3em;

			a {
				color: #FFF;
			}

			@include device-width(12) {
				margin: 0 4em;
			} 

			@include device-width(10) {
				margin: .5em 0;
				width: 33%;

				a {
					display: block;
					text-align: center;
				}
			} 
		}
	}
}


.post-social {
	position: relative;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	text-align: right;
	padding: 0.5em 0;

	@include device-width(12) {
		text-align: center;
	}	

	.comments {
		@include inline-block;

		.title {
			@include miller;
			display: inline-block;
			@include font-size(14);
			text-transform: uppercase;
			vertical-align: middle;
			margin-right: 0.5em;
			letter-spacing: 0;

			@include device-width(12) {
				display: block;
				text-align: center;
			}

			i {
				@include miller-italic;
			}
		}
	}

	

	.share-links {
		display: inline-block;
		vertical-align: middle;

		li {
			margin: 0 0.3em;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	a {
		color: #FFF;
		padding: 0.5em 2em;
		@include futura-bold;
		@include font-size(9);
		letter-spacing: 2px;
		line-height: 1.4;

		@include device-width(6) {
			padding: 0.5em 1em;

			&:after {
				display: none;
			}
		}

		&:before {
			margin-right: 1.3em;
			font-size: 1.5em;
			line-height: 0;
			vertical-align: middle;

			@include device-width(6) {
				margin-right: 0;
			}
		}

		&.comment-btn {
			background: $white;
			border: 2px solid $black;
			color: $black;

			&:hover {
				background: $black;
				color: $white;
			}
		}

		&.facebook-btn {
			background: #325a97;
			border: 2px solid #325a97;

			&:after {
				content: 'Share';
			}

			&:hover {
				background: $white;
				border: 2px solid #325a97;
				color: #325a97;
			}					
		}

		&.twitter-btn {
			background: #00adee;
			border: 2px solid #00adee;

			&:after {
				content: 'Tweet';
			}

			&:hover {
				background: $white;
				border: 2px solid #00adee;
				color: #00adee;
			}						
		}

		&.pinterest-btn {
			background: #cc2027;
			border: 2px solid #cc2027;

			&:after {
				content: 'Pin';
			}

			&:hover {
				background: $white;
				border: 2px solid #cc2027;
				color: #cc2027;
			}						
		}
	}

}
.post-date {
	@include font-size(11);
	letter-spacing: 1px;
	text-transform: uppercase;
	@include futura;
}

.post-title {}

.post-excerpt {
	@include font-size(14);
}


.post-navigation {
	padding-left: 0;
	padding-right: 0;
	margin: 0;

	.btn {
		width: 50%;
		padding-top: 1.3em;		
		padding-bottom: 1.3em;

		&:hover {
			.post-title {
				color: $olive;
			}
		}
	}

	.previous {
		float: left;
		border-right: 1px solid #e3e3e3;
	}

	.next {
		float: right;
	}

	.featured-image {
		padding: 0;

		@include device-width(6) {
			display: none;
		}
	}

	.content {

		&.has-thumbnail {
			padding: 0 20px;
		}

		@include device-width(12) {
			margin-top: 0;
		}

		@include device-width(6) {
			width: auto;
			float: none;
		}

		.date {
			margin: 0;
		}
	}

	.direction {
		@include font-size(10);
		@include futura-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.post-title {
		margin: 0.2em 0;
		@include transition( all 0.3s ease);


		@include device-width(5) {
			display: none;
		}
	}

}

.post-comments {
	display: none;
	margin: 0;
	padding: 1em 0;
	border-top: 10px solid #fbfbfb;

	@include device-width(6) {
		padding: 1em 10px;
	}

	.comment-list {
		margin: 2em 0 0 0;
	}
}

.comment-respond {

	.comment-reply-title {
		text-align: center;
		color: #666666;
		letter-spacing: 2px;
		@include font-size(18);
	}

}

.comment-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding: 2em 3em;

		@include device-width(10) {
			padding: 1em;
		}

		&:nth-child(2n - 1) {
			background: #f5f5f5;
		}

		p {
			margin: 1em 0;
		}

		.comment-author {
			cite {
				color: #000;
				@include futura;
				@include font-size(18);
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			.says {
				color: #848484;
			}
		}

		.comment-meta {
			@include futura;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 8px;

			a {
				color: #848484;

				&:hover {
					color: #000;
				}			
			}
		}

		.comment-reply-link {
			@include futura;
			font-size: 8px;
			letter-spacing: 0.5px;
			padding: 1em 0;

			&:before {
				@include icon(reply);
				margin: 0 0.6em 0 0;
			}
		}

		.children {
			list-style: none;
			padding: 0;
		}
	}
}

.post-carousel {
	background: #FFF;
	border: 1px solid #e3e3e3;

	.owl-nav {
		background: #FFF;
		top: auto;
		bottom: 0;
		margin: 0;
		left: auto;
		right: 0;
		width: 260px;
		border-top: 1px solid #e3e3e3;
		border-left: 1px solid #e3e3e3;

		.owl-prev {
			display: inline-block;
			position: relative;
		}
	}

}

.featured-carousel {
	.owl-item {
		overflow: hidden;

		&.active {
			.post-item {
		 		@include transition(all 0.3s ease);
				@include translateX ( 0 ) ;
			}
		}
		.post-item {
			@include translateX(100%);
		}
	}

	.owl-nav {
		display: none;
	}

	.owl-dots {
		width: 33%;
		right: 0;
		bottom: 0;
		left: auto;

		.owl-dot {
			padding: 0.8em 0.3em;
		}
	}
}

.green-label {
	&:before {
		content: 'Green';
	}
}

.category-name {
	display: inline-block;
	background: #FFF;
	padding: 0.3em 1em;
	@include futura-bold;
	@include font-size(9);
	letter-spacing: 1px;
	vertical-align: top;
	
	&:before {
		color: #919191;
	}
}

.author {

	.image {
		width: 40px;
		height: 40px;
		display: inline-block;
	}

	.name {
		@include futura-bold;
		@include font-size(9);
		letter-spacing: 1px;
		display: block;
	}
}

.post-top-category {
	text-align: center;
	
	.category-name {
		@include font-size(14);
		@include futura-bold;
		background: none;
		padding-top: 0;

		&:before {
			@include futura;
		}
	}
}

.post-item {
	position: relative;
	@extend .clearfix;

	&.has-sub-category {
		.category-name {
			&:before {
				display: none;
			}
		}
	}

	.category {
		text-align: center;
		margin-bottom: -1em;
		z-index: 110;
		position: relative;
	}

	.image {
		text-align: center;
		position: relative;
		z-index: 100;

		.btn {
			display: block;
		}
		
		img {
			display: inline-block;
			vertical-align: top;
			width: 100%;
		}
	}

	.header {
		margin-top: -20px;
		padding: 0 2em;
		text-align: center;
		position: relative;
		z-index: 200;
	}

	.title {
		&.long {
			@include font-size(30);

			@include device-width(12) {
				@include font-size(22);					
			}
		}
	}

	.excerpt {
		line-height: 1.3;
	}

	.post-meta {
		padding: 0 0 1em 0;
	}

	.read-more {
		text-align: center;
	}

	&.medium {

		a {
			color: #666;
		}

		.image {
			float: left;
			margin-right: 1em;

			img {
				display: block;
			}
		}

		.post-header {
			text-align: left;
			overflow: hidden;
			margin-top: 0;
			padding: 0;
		}

		.post-title {
			@include miller;
			@include font-size(17);
			color: $black;	
			margin-top: 0;
			margin-bottom: .5em;			
		}

		.excerpt {
			display: block;
			line-height: 1.2;
			text-align: left;
			margin: .5em 0 0 0;
		}
	}

	&.small {

		a {
			color: #666;
		}

		.image {
			text-align: center;
			margin-bottom: 0.6em;
		}

		.post-header {
			overflow: hidden;
			margin-top: 0;
			padding: 0;
		}

		.post-title {
			@include miller;
			@include font-size(17);
			color: $black;	
			margin-top: 0;	
			margin-bottom: .5em;		
		}

		.excerpt {
			display: block;
			margin: .5em 0 1em 0;
			line-height: 1.2;
			@include font-size(12);
			color: #7f7f7f;
		}
	}		
}

.post-header {
	text-align: center;

	.title {
		margin: 1em auto;
	}

	.excerpt {
		text-align: center;
		margin: 1em 0;
	}
}

.post-excerpt {
	@include font-size(14);
}

.image-slide {

	.image {
		position: relative;
		text-align: center;
		
		img {
			display: inline-block;
			vertical-align: top;
		}
	}

	.caption {
		@include futura;
		text-transform: none;
		@include font-size(11);
		color: #333;
		margin: 1em 0;
	}
	.title {
		@include futura-bold;
		@include font-size(12);
		letter-spacing: 2px;
		margin: 1.5em 0;
	}

	.header {
		position: relative;
		padding: 0 275px 2em 1em;
		min-height: 144px;
		border-top: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;

		.info {
			width: 260px;
			position: absolute;
			right: -1px;
			top: 0;
			bottom: 0;
			border-left: 1px solid #e3e3e3;
		}
	}

	.info {
		@extend .clearfix;
		
		.share {
			text-align: center;
			padding: 0.6em;
			float: left;
			width: 70%;
			border-right: 1px solid #e3e3e3;
			height: 100%;
		}

		.pages {
			text-align: center;
			padding: 0.6em;
			float: right;
			width: 30%;
			height: 100%;

			.page {
				@include font-size(10);
				@include futura;
			}
		}
	}
}


.share {
	vertical-align: middle;

	.label {
		vertical-align: middle;
		display: inline-block;
		@include futura-bold;
		@include font-size(9);
		letter-spacing: 2px;
		color: #000;
	}

	.share-links {
		vertical-align: middle;
		display: inline-block;
	}
}

.post-slide {

	.post-item {
		position: absolute;
		z-index: 5;
		right: 0;
		width: 33%;
		top: 2em;
		bottom: 2em;
		padding: 1em 3%;
		border: 2px solid black;
		margin-top: .5em;
		@include display(flex);
		@include align-items(center);
		@include align-content(center);
		@include justify-content(center);
		@include flex-direction(column);
	}

	.post-header {
		.category {
			margin-top: -0.75em;
		}	

		.post-excerpt {
			color: gray;
			padding: 0;
			line-height: 1.4;

			@include device-width(7) {
				display: none;
			}
		}
	}

	.post-title {
		//position: relative;

		// &:after {
		// 	content: "";
		// 	text-align: right;
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: 0;
		// 	width: 70%;
		// 	height: 2em;
		// 	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		// }

		// text-overflow: ellipsis;
		// -webkit-line-clamp: 2;
		// -webkit-box-orient: vertical;
		// display: -webkit-box;
		// overflow: hidden;
		// display: block;
	}

	.post-excerpt {
		margin: 0.5em 0;
	}

	.post-meta {
		text-align: center;
		padding: 1em 0 0 0;
	}

	.author {
		@include inline-block;
		text-align: center;

		.image {
			@include border-radius(50%);
			vertical-align: middle;
			margin-right: 0.3em;
		}

		.name {
			@include futura-bold;
			@include font-size(9);
			@include inline-block;
			width: 50%;
			text-align: left;
			line-height: 1.3;	
			border-right: 1px solid #c2c2c2;	
		}
	}


	.thumbnail {
		width: 70%;

		img {
			display: block;
			width: 100%;
		}
	}
}

.related-posts {
	@extend .clearfix;

	> .inner {
		padding: 0 10px;
	}

	.widget-header {
		float: left;
		width: 175px;
		padding: 2em 10px;

		a {
			@include futura-bold;
			text-transform: uppercase;
			@include font-size(9);
			display: block;
			margin-top: 1em;
			letter-spacing: 2px;
			
		}
	}

	.posts {
		float: left;
		width: 1005px;
		width: calc(100% - 175px);
		@include display(flex);

		li {
			float: left;
			width: 33.33%;
			border-right: 1px solid $white;
			padding: 2em 10px;	
		}
	} 
}

.written-by {
	@include miller-italic;
	color: #5b5b5b;
	margin: 20px 0;
	clear: both;

	a {
		color: #b80004;
	}
}


.post-ingredients {
	border: 5px solid $olive;

	.header {
		border-bottom: 1px solid #ececec;
		padding: 1em;

		.title {
			@include futura-bold;
			text-align: center;
			@include font-size(10);
			letter-spacing: 2px;
		}
	}

	.content {
		padding: 1em;	
		@extend .clearfix;

		.ingredient-list {
			width: 50%;
			padding: 0 10px;
			float: left;

			&:nth-child(2n - 1) {
				text-align: right;
			}
		}
	}
	.footer {
		border-top: 1px solid #ececec;
		padding: 0.6em 2em;
		@extend .clearfix;

		.share {
			float: left;
		}

		.print-btn {
			float: right;
		}
	}
}

.post-tips {
	border: 1px solid #ececec;
	padding: 1em 1.5em 1.5em;
	position: relative;

	.title {
		position: absolute;
		background: #FFF;
		padding: 0 1em;
		@include font-size(24);
		@include miller-italic;
		bottom: 0;
		left: 50%;
		@include translateX(-50%);
		margin-bottom: -0.5em;
		text-align: center;
	}

	.tips {
		list-style: disc;
		list-style-position: outside;
		padding-left: 1.5em;
	}

	.tip {
		@include font-size(16);
		line-height: 1.4;
		@include garamond-italic;
	}
}

.post-products {
	@extend .clearfix;

	.post-products-header {
		width: 190px;
		float: left;

		.title {
			@extend .widget-title;
		}

		.description {
			@include garamond-italic;
			@include font-size(12);
			line-height: 1.4;
			margin: 1em 0;
		}
	}

	.products {
		float: right;
		width: 588px;
		width: calc(100% - 190px);
		@extend .clearfix;

		.product {
			float: left;
			width: 33.3333%;
			padding: 0 10px;

			&:nth-child(3n + 1) {
				clear: left;
			}
		}
	}
}

.products-header {
	text-align: center;
	padding: 0 0 2em 0;

	.title {
		margin: 0.5em 0;
	}

	.excerpt {
		@include garamond-italic;
		margin: 0 auto;
		max-width: 360px;
		line-height: 1.2;
		@include font-size(16);
	}
}

.product-filters {
	padding: 0;
	border-bottom: 1px solid #ececec;
	@extend .clearfix;

	.viewing {
		@include futura;
		@include font-size(9);
		letter-spacing: 2px;
		float: left;
		display: inline-block;
		padding: 0.5em 0;

		.value {
			@include futura-bold;
		}
	}

	.category {
		float: right;
		margin-bottom: -1px;
	}
}

.products {
	@extend .clearfix;

	.product-item {
		margin-bottom: 2em;
	}
}

.product-item {
	text-align: center;

	.btn {
		display: block;
	}

	.image {
		text-align: center;

		img {
			display: inline-block;
			vertical-align: top;
		}
	}

	.header {
		padding: 1em 2em;
	}
}

.product-header {
	text-align: center;

	.designer {
		@include futura-bold;
		@include font-size(10);
		letter-spacing: 2px;
	}

	.title {
		@include garamond-italic;
		@include font-size(14);
		margin: 0.5em 0;
	}

	.price {
		@include futura;
		@include font-size(10);
		letter-spacing: 2px;
	}
}

.categories {
	clear: both;
	overflow: auto;

	.widgets {
		@extend .clearfix;
		min-width: 1000px;
		.widget {
			float: left;
			width: 33.3333%;
			padding: 5px 10px;
		}
	}
}

.sidebar {
	background: #FFF;
	position: relative;
	
	.menu-btn {
		display: none;
		position: absolute;
		top: 0;
		left: 0;

		@include device-width(9) {
			display: inline-block;

			.sidebar-open & {
				//left: -40px;
			}
		}
	}

	.widget {
		border-bottom: 1px solid #e3e3e3;
		padding: 1.7em;
		position:  relative;

		&:first-of-type {
			padding-top: 0;
		}
	}
}


.sidebar-container {
	@extend .clearfix;
	position: relative;
	border-right: 1px solid #e3e3e3;
	
	@include device-width(9) {
		overflow: hidden;
	}

	.sidebar-content {
		float: left;
		width: 840px;
		width: calc(100% - 360px);
		position: relative;
		z-index: 100;
		left: 0;
		@include transition(all 0.3s ease);
		border-right: 1px solid #e3e3e3;
		
		@include device-width(9) {
			width: auto;
			float: none;
			margin-right: 40px;

			// .sidebar-open & {
			// 	margin-left: -340px;
			// 	margin-right: 340px;
			// }
		}
	}

	.sidebar {
		float: right;
		width: 360px;
		z-index: 200;
		@include transition(all 0.3s ease);
		position: relative;

		@include device-width(9) {
			position: absolute;
			top: 0;
			width: 300px;
			right: 0;
			bottom: 0;
			padding-top: 40px;
			overflow: auto;
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
			z-index: 500;
			margin-right: -260px;

			.sidebar-open & {
				position: fixed;
				margin-right: 0;

				.mobile-sidebar-btn {
					&:before {
						content: '\00d7';
						font-family: sans-serif;
					}
				}
				.widget {
					padding: 1em;
					visibility: visible;
					opacity: 1;

					&:first-of-type {
						padding-top: 0;
					}
				}
			}

			.widget {
				visibility: hidden;
				opacity: 0;
				@include transition(all 0.3s ease);
			}
		}
	}
}

.single-post-header {

	.category {
		text-align: center;
		position: relative;
		margin-bottom: -.8em;				
	}		


	.post-header {
		margin-top: -2em;
	}

	.post-title {
		width: 70%;
	}

	.excerpt {
		@include garamond-italic;
		@include font-size(16);
		text-align: center;
		margin: 1.5em 0;
		padding: 0 8%;

		&:before, &:after {
			content: '';
			display: block;
			width: 20%;
			margin: 0 auto;
			border-top: 1px solid #e3e3e3;
		}

		p {
			margin: 1.5em 0;
			font-size: 2rem;
			line-height: 1.5;			
			color: #5b5b5b;
		}	
	}

	&.left-layout {

		.category {
			position: absolute;
			width: 50%;
			right: 0;
			text-align: center;

			// .category-name {
			// 	width: 50%;
			// 	float: right;						
			// }					
		}

		.header-container {
			@extend .clearfix;
			position: relative;
			margin-bottom: 4em;

			.post-image {
				float: left;
				width: 50%;
			}

			.header {
				width: 50%;
				position: absolute;
				right: 0;
				text-align: center;
				height: 100%;
				margin-top: 0;
			}

			.post-title {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				padding: 0 1em;
				margin: 0 auto;
				width: 100%;
				@include font-size(48);

				@include device-width(7) {
					@include font-size(30);
				}
			}

			.author {
				position: absolute;
				width: 100%;
				bottom: 0;
				left: 0;
			}
		}
	}
}

.category-header {
	text-align: center;

	.title {
		@include futura-bold;
		color: #8a967c;
		letter-spacing: 2px;

		&:before {
			@include futura;
			color: #3b3b3b;
		}
	}

	.navigation {
		margin: 1em 0 0 0;
	}
}


.category-navigation {
	.menu {
		display: inline-block;
	}
	
	li {
		margin: 0 2em;

		&.current-cat {
			a {
				color: #8A967C;
				@include futura-bold;
			}
		}
		a {
			@include futura;
		}
	}
}

.products-navigation {
	background: #eeeeee;
	text-align: center;
	padding: 0.6em;

	a {
		@include futura-bold;
		@include font-size(9);
		letter-spacing: 2px;
	}
}
