#index {
	> .footer {
		margin: 4em 0 0 0;
	}

	.lined-header {
		border-left: 10px solid #FFF;
		border-right: 10px solid #FFF;
	}

	.featured-post {
		margin-bottom: 1em;

		> .inner {
			position: relative;
			padding: 0 10px;
		}

		.post-header {
			float: right;
			position: relative;
			width: 360px;
			z-index: 200;
			background: #f6f6f6;
			text-align: center;
			padding: 3em;
			height: 400px;

			@include device-width(10) {
				height: 350px;
			}

			@include device-width(8) {
				height: auto;
				float: none;
				width: auto;
				padding: 2em;
			}

			.post-excerpt {
				@include device-width(7) {
					display: none;
				}
			}
		}

		.thumbnail {
			position: absolute;
			top: 0;
			left: 10px;
			right: 10px;
			bottom: 0;
			z-index: 100;
			overflow: hidden;

			@include device-width(8) {
				position: relative;
				left: 0;
				right: 0;
			}

			a {
				&:hover {
					opacity: 0.6;
				}
			}
			img {
				display: block;
			}
		}
	}

	.homepage-widgets {
		margin: 20px 0;
		padding: 20px 0;
		background: #fbfbfb;

		@include device-width(7) {
			display: none;
		}
		
		.widget {
			margin: 0;
		}
	}

	.latest {
		display: inline-block;
	
		font-size: 8px;
		@include box-shadow(none);
		text-transform: uppercase;
		background: #f6f6f6;
		color: #666;
		letter-spacing: 2px;
		padding: 1.5em 3em;
		text-align: center;
		margin-bottom: 10px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #f6f6f6 transparent transparent transparent;

		}

	}

	#content {
	
		.posts {
			margin-top: 1em;
			
			.post {
				background: #f6f6f6;
				margin-bottom: 4em;
				position: relative;

				@include device-width(6) {
					margin-bottom: 2em;
				}

				&.layout-medium {
					.featured-image {
						@extend .clearfix;
						
						// a {
						// 	@extend .clearfix;
						// }

						img {
							width: 31%;
							float: left;

							&:nth-child(2) {
								margin: 0 3.5%;
							}
						}
					}
				}

				&.layout-small {
					position: relative;
					.featured-image {
						margin-right: 2em;
						float: left;

						@include device-width(6) {
							float: none;
							margin-right: 0;
						}

						img {
							@include device-width(4) {
								width: 100%;
							}
						}
					}

					.post-header {
						position: static;
					}
				}

				.featured-image {
					a,
					img {
						display: block;
					}
				}

				.post-header {
					padding: 2em;

					@include device-width(4) {
						padding: 1.5em;
					}
				}

					hr {
						margin-left: 0;
					}
			}

			.navigation {
				margin: 4em 0;
				text-align: center;
				.prev-btn,
				.next-btn {
					@extend .primary-btn;
				}

				// .prev-btn {
				// 	@extend .arrow-left-btn;
				// }

				// .next-btn {
				// 	@extend .arrow-right-btn;
				// }
			}
		}

		.not-found {
			text-align: center;
			margin: 3em 0;
		}
	}
}

#single {

	#sidebar {
		margin-top: 1em;
	}

	.featured-image {

		a,
		img {
			display: block;
			width: 100%;
		}
	}


	#content {
		.post {

			&.no-featured-image {
				.post-header {
					.category {
						top: 0;
					}
				}
			}
			
			.post-header {
				margin: 2em 0 3em 0;
				text-align: center;

				@include device-width(10) {
					margin-bottom: 2em;
				}

				.post-title {
					margin: 0;
				}	

				.meta {
					margin: 0 0 2em 0;
				}

				hr {
					margin-left: auto;
					margin-right: auto;
				}
			}

			.featured-images,
			.featured-image {
				margin: 0.8em 0;

				&.full-width-image {
					margin-top: 0;
				}
			}
		}

		.post-carousel {
			height: auto;

			.owl-stage-outer {
				height: auto;
			}
			
			.item {
				height: auto;
			}

			img {
				height: auto;
			}

			.content {
				margin: 0 2em;
				left: 0;
				right: 0;
				// width: 400px;
				// margin-left: -200px;
				padding: 1em;

				@include device-width(5) {
					width: auto;
					margin: 0 1em;
					left: 0;
				}

				.title {
					margin: 0;
				}
			}
		}
	}
}

#page,
#template-about {

	#content,
	#sidebar {
		margin-top: 40px;
	}

	.featured-image {
		
		img {
			display: block;
		}
	}

	#content {

	}
}

#category {

}


#search {

}

#error {
	padding: 10em 0;
}

#archive {
	
	.filters {
		float: left;
		width: 40%;
		padding: 1px;
		@include box-sizing(border-box);
		height: 0;
		padding-bottom: 19.9%;
		position: relative;

		@include device-width(13) {
			width: 50%;
			padding-bottom: 24.9%;
		}

		@include device-width(8) {
			float: none;
			width: 100%;
			height: auto;
			padding-bottom: 0;
		}
		> .inner {
			position: absolute;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			background: #ebebeb;
			padding: 1em;

			@include device-width(8) {
				position: relative;				
			}
		}

		.title {
			margin: 0;
		}
		.label {
		
			font-size: 8px;
		}



		.field {
			margin: 0.5em 0;
			position: relative;

			input,
			select {
				
				background-color: #FFF;
				border: 1px solid #d7d7d7;
			}

			select {
				width: 80%;
			}

			input[type=text] {
				width: 100%;
			}

			.submit-btn {
				position: absolute;
				top: 1px;
				right: 1px;
				color: #000;
				border: none;
				background:  #FFF;
				padding: 8px;
				font-size: 10px;
				@include box-shadow(none);
				&:hover {
					color: #FFF;
					background: #000;
				}
			}
		}
	}

	.archive-footer {
		margin: 3em 0;
	}
	.posts {
		border-top: 4px solid #000;
		.post {
			float: left;
			width: 20%;
			text-align: center;
			@include box-sizing(border-box);
			padding: 1px;
			position: relative;

			@include device-width(13) {
				width: 25%;
			}

			@include device-width(8) {
				width: 33.33333%;
			}

			@include device-width(6) {
				width: 50%;
			}

			.btn {
				color: #000;
			}

			.title {
				margin: 0;
			}
			
			.meta {
				margin: 0.5em 0 1em;
			}

			.date {
			
				font-size: 8px;
			}

			.thumbnail {
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}

	.not-found {
		width: 60%;
		float: left;
		@include box-sizing(border-box);
		padding: 5em 0;
		text-align: center;

		.title {

		}
	}

	.boutique {
		margin: 4em 0;
	}
}



#archive-product {
	
	> .inner {
		border-top: 4px solid #000;
		padding: 2em 0 0 0;
	}

	.filters {
		margin: 0 0 2em 0;
		// float: left;
		// width: 40%;
		// @include box-sizing(border-box);
		// height: 0;
		// padding-bottom: 28%;
		// position: relative;

		// @include device-width(12) {
		// 	width: 50%;
		// 	padding-bottom: 30%;
		// }

		// @include device-width(9) {
		// 	width: 66.666%;
		// 	padding-bottom: 40%;
		// }

		// @include device-width(7) {
		// 	width: auto;
		// 	float: none;
		// 	height: auto;
		// 	padding-bottom: 0;
		// }


		> .inner {
			// position: absolute;
			// top: 0;
			// left: 0;
			// right: 0;
			// bottom: 0;
			padding: 1em;
			background: url(../images/backgrounds/dots.png);

			@include device-width(7) {
				position: relative;
			}
		}

		.header {
			float: left;
			width: 250px;


			@include device-width(9) {
				float: none;
				width: auto;
				text-align: center;
			}
		}
		.title {
			margin: 0 0;
			padding-right: 20%;
			@include device-width(14) {
				padding-right: 0;
				@include font-size(25);
			}
		}
		.label {
			@include font-size(12);
			margin: 0.1em 0;
			@include device-width(14) {
				margin: 0;
			}
		}



		.categories {
			list-style: none;
			padding: 0;
			margin: 0;
			border-top: 3px solid #000;
			background: #FFF;
			width: calc(100% - 250px);
			float: right;

			@include device-width(9) {
				float: none;
				width: auto;
				margin: 0.5em 0 0 0;
			}
			li {
				float: left;
				border-right: 1px solid #d7d7d7;
				border-bottom: 1px solid #d7d7d7;
				width: 20%;
				padding: 4px;
				@include box-sizing(border-box);

				@include device-width(13) {
					width: 25%;
				}

				@include device-width(9) {
					width: 33.3333%;
				}

				@include device-width(5) {
					width: 50%;
				}

				&:nth-child(5n) {
					border-right: 0;

					// @include device-width(6) {
					// 	border-right: 1px solid #d7d7d7;
					// }
				}

				// &:nth-child(2n) {
					
				// 	@include device-width(6) {
				// 		border-right: 0;
				// 	}
				// }

				&:nth-last-child(-n + 4) {
				 	border-bottom: 0;

				// 	@include device-width(6) {
				// 		border-bottom: 1px solid #d7d7d7;
				// 	}
				}

				// &:nth-last-child(-n + 1) {

				// 	@include device-width(6) {
				// 		border-bottom: 0;
				// 	}
				// }

				& a:hover,
				&.current a,
				&.current-cat a {
					color: #FFF;
					background: #000;
				}


			}

			a {
				display: block;
			
				font-size: 8px;
				padding: 4px;
				text-align: center;
			}
		}
	}

	.archive-footer {
		margin: 3em 0;

		.next-btn {
			display: block;
		}
	}
	.products {
		
		> .inner {
			padding: 1.5em;

			@include device-width(5) {
				padding: 0.5em;
			}
		}

		.product {
			float: left;
			width: 20%;
			text-align: center;
			@include box-sizing(border-box);
			height: 0;
			padding-bottom: 28%;
			position: relative;

			@include device-width(12) {
				width: 25%;
				padding-bottom: 30%;
			}

			@include device-width(9) {
				width: 33.333%;
				padding-bottom: 40%;
			}

			@include device-width(7) {
				width: 50%;
				padding-bottom: 50%;
			}

			@include device-width(4) {
				width: auto;
				float: none;
				padding-bottom: 0;
				height: auto;
			}

			.overlay {
				padding: 0 2em;

				@include device-width(10) {
					padding: 0 1em;
				}
			}
			

			.btn {
				color: #000;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				@include device-width(4) {
					position: relative;
				}
			}

			// .header {
			// 	background: #FFF;
			// 	padding: 1em; 
			// 	border: 1px solid #d7d7d7;
			// }

			// .title {
			// 	margin: 0;
			// 	font-size: 10px;
			// }
			
			// .meta {
			// 	font-size: 10px;
			// 	color: #666;
			// 	margin: 0.5em 0 1em;
			// }


			// .thumbnail {
			// 	text-align: center;
			// 	img {
			// 		width: auto;
			// 		max-height: 100%;
			// 	}
			// }
		}
	}

	.not-found {
		width: 60%;
		float: left;
		@include box-sizing(border-box);
		padding: 5em 0;
		text-align: center;

		.title {

		}
	}
}


#template-instagram {
	> .inner {
		border-top: 4px solid #000;
		padding: 40px 0 0 0;
	}
	#instagram {
		> .inner {
			padding: 2em;

			@include device-width(4) {
				padding: 1em;
			}
		}

		.header {
			text-align: center;
			padding: 3em 30% 1em 30%;

			@include device-width(8) {
				padding: 0 10% 1em 10%;
			}
			.title {
				margin: 0;
			}
		}

		.footer {
			margin: 2em 0 0 0;

			@include device-width(4) {
				margin-top: 1em;
			}
		}

		.feed {
			margin: 0 -10px;

			.social-item {
				padding-top: 10px;
				padding-bottom: 10px;

				@include device-width(9) {
					width: 33.3333333%;
				}

				@include device-width(6) {
					width: 50%;
				}
			}
		}
	}
	


	.load-more-btn {
		width: 100%;
		@include box-sizing(border-box);
	}

	.boutique {
		margin: 4em 0;
	}
}
