#content {

	.page & {
		padding: 0 26%;
		margin: 4.4em 0;

		@include device-width(6) {
			padding: 0 15%;
		}

		@include device-width(4) {
			padding: 0 10%;
		}
	}

	article.post-item {

		.excerpt {
			@include garamond-italic;
			@include font-size(16);
			text-align: center;
			margin: 1.5em 0;
			padding: 0 8%;

			&:before, &:after {
				content: '';
				display: block;
				width: 20%;
				margin: 0 auto;
				border-top: 1px solid #e3e3e3;
			}

			p {
				margin: 1.5em 0;
				font-size: 2rem;
				line-height: 1.5;			
				color: #5b5b5b;
			}
		}

		&.left-layout {

			.category {
				margin: 0;

				.category-name {
					width: 50%;
					float: right;						
				}					
			}
	
			.header-container {
				@extend .clearfix;
				position: relative;
				margin-bottom: 4em;

				.post-image {
					float: left;
					width: 50%;
				}

				.header {
					width: 50%;
					position: absolute;
					right: 0;
					text-align: center;
					height: 100%;
					margin-top: 0;
				}

				.post-title {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					padding: 0 1em;
					margin: .7em 0;

					@include device-width(7) {
						@include font-size(30);
					}
				}

				.author {
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
				}
			}

			@include device-width(6) {

				.category {
					margin: -0.9em;

					.category-name {
						width: auto;
						float: none;						
					}					
				}

				.header-container {
					.post-image {
						float: none;
						width: auto; 
					}

					.header {
						position: static;
						width: 100%;
						margin-top: -20px;
					}

					.post-title {
						top: 0%;
							transform: translateY(0);
					}

					.author {
						position: static;
					}
				}
			}
		}
	}

}

#category {
	.category-header {
		text-align: center;

		.category-title {
			margin: 0;
		}

		.category-name {
			@include futura;
			@include font-size(10);
			text-transform: uppercase;

			span {
				@include futura-heavy;
				@extend .green-label;
			}
		}

		.filters {
			text-align: right;

			form {
				@include inline-block;

				.field {
					float :left;
				}
			}
		}
	}

	ul.posts {
		li {
			float: left;
			width: 25%;
			margin-bottom: 2em;
			@include box-sizing(border-box);
			padding: 1%;

			.post-title {
				@include font-size(30);
			}

			&:first-child {
				width: 50%;

				.post-title {
					@include font-size(40);
				}
			}

			&:nth-child(4n+4) {
				clear: left;
			}

			@include device-width(9) {
				width: 33%;

				&:first-child {
					width: 66%;
				}

				&:nth-child(4n+4) {
					clear: none;
				}	

				&:nth-child(3n+3) {
					clear: left;
				}							
			}

			@include device-width(6) {
				width: 50%;

				&:first-child {
					width: 100%;
				}

				&:nth-child(3n+3) {
					clear: none;
				}							

				&:nth-child(2n+2) {
					clear: left;
				}							
			}	

			@include device-width(4) {
				width: 100%;
			}					
		}
	}
}

.sidebar-container {
	#category {
		ul.posts {
			li {
				width: 50%;

				&:first-child {
					width: 100%;
				}

				&:nth-child(2n+2) {
					clear: left;
				}				
			}
		}
	}
}

#author-archive {

	.contributor {

		.featured-image {
			@include border-radius(50%);
			margin: 0 auto;
			display: block;
		}

		.name {
			display: block;
			text-align: center;
			margin: 0.6em 0;
		}
		
		.title {
			display: block;
			text-align: center;
			@include futura;
			text-transform: uppercase;
			@include font-size(10);
			margin-bottom: 2em;
		}
			
		ul.socials {
			margin: 2em 0;

			li {
				@include inline-block;

				@include device-width(6) {
					display: block;
				}

				a {
					@include futura;
					text-transform: uppercase;
					@include font-size(10);
					margin-right: 25px;

					&.twitter {
						&:before {
							@include icon(twitter);	
						}
					}

					&.facebook {
						&:before {
							@include icon(facebook);
						}
					}

					&.web {
						&:before {
							@include icon(web);
						}
					}

					&:before {
						margin-right: .5em;
					}
				}
			}
		}		

	}
}

#archive-product {
	> .inner {
		padding: 0 0 0 180px;
	}

	.products {
		li {
			width: 25%;
			float: left;
			padding: 0 10px;

			&:nth-child(4n + 1){
				clear: left;
			}
		}
	}

	.categories {
		margin: 3em 0 3em -180px;
	}
}