#single {
	article.post-item {

		&.left-layout {

			.category {
				margin: 0;

				.category-name {
					width: 50%;
					float: right;						
				}					
			}
	
			.header-wrap {
				@extend .clearfix;
				position: relative;
				margin-bottom: 4em;

				> .image {
					float: left;
					width: 50%;
				}

				.header {
					width: 50%;
					position: absolute;
					right: 0;
					text-align: center;
					height: 100%;
				}

				.post-title {
					position: relative;
					top: 40%;
					transform: translateY(-50%);
					padding: 0 1em;

					@include device-width(7) {
						@include font-size(30);
					}
				}

				.author {
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
				}
			}

			@include device-width(6) {

				.category {
					margin: -0.9em;

					.category-name {
						width: auto;
						float: none;						
					}					
				}

				.header-wrap {
					> .image {
						float: none;
						width: auto; 
					}

					.header {
						position: static;
						width: 100%;
					}

					.post-title {
						top: 0%;
							transform: translateY(0);
					}

					.author {
						position: static;
					}
				}
			}
		}
	}

}

#author-archive {
	.featured-image {
		@include border-radius(50%);
		margin: 0 auto;
		display: block;
	}

	.name {
		display: block;
		text-align: center;
		margin: 0.6em 0;
	}
	
	.title {
		display: block;
		text-align: center;
		@include futura;
		text-transform: uppercase;
		@include font-size(10);
		margin-bottom: 2em;
	}
		
	ul.socials {
		margin: 2em 0;

		li {
			@include inline-block;

			@include device-width(6) {
				display: block;
			}

			a {
				@include futura;
				text-transform: uppercase;
				@include font-size(10);
				margin-right: 25px;

				&.twitter {
					&:before {
						@include icon(twitter);	
					}
				}

				&.facebook {
					&:before {
						@include icon(facebook);
					}
				}

				&.web {
					&:before {
						@include icon(web);
					}
				}

				&:before {
					margin-right: .5em;
				}
			}
		}
	}
}