/* =============================================================================
   Widgets
   ========================================================================== */

.widget-title {
	text-transform: uppercase;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	padding: 0.1em 0;
	margin-top: 0;
	@include font-size(25);
}

.widget {
	// margin-top: 1em;
	// margin-bottom: 3em;
	position:  relative;

	.widget-title {
		width: 50%;
		margin-bottom: 0.6em;
	}

	.widget-sub-title {
		text-align: center;
		@include font-size(12);
		display: block;
		margin-bottom: 0.8em;
	}

	.widget-description {
		position: absolute;
		right: 25px;
		top: 25px;
		width: 35%;
		@include garamond-italic;
		@include font-size(12);

		a {
			margin-top: 1em;
		}
	}	
}

.widget_text {
	.textwidget {
		border-left: 1px solid #d7d7d7;
		border-right: 1px solid #d7d7d7;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		padding: 2em 2.5em;
		text-align: left;
		font-size: 0.8em;
	}
}


.widget_links {
	.blogroll {
		@extend .clearfix;
		margin: 1em -10px;

		li {
			float: left;
			width: 33.333%;
			margin-bottom: 1.5em;
			padding: 0 10px;
			text-align: center;
			@include font-size(10);
			color: #999;
			line-height: 1.3;

			&:nth-child(3n + 1) {
				clear: left;
			}

			a {
				@include font-size(14);
				@include miller;
				display: block;
				margin-bottom: 0.4em;
			}
			img {
				display: block;
				margin-bottom: 0.5em;
			}
		}
	}
}

.widget_post {
	.post-item {
		.image {
			.btn {
				display: block;

				img {
					width: 100%;
				}
			}
		}
	}
}

.widget_category {
	.btn {
		position: relative;
		display: block;

		&:hover {
			.primary-btn {
				background: #FFF;
				color: #000;
				@include box-shadow(none);
			}
		}
		.cta-container {
			z-index: 200;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin: -15px 0 0 0;
			text-align: center;
		}

		.primary-btn {
			@include transition(all 0.3s ease);
		}

		.image {
			img {
				display: block;
			}
		}
	}
}

.widget_posts {

	.posts {
		&.size-small {
			@extend .clearfix;
			margin: 0 -0.3em;

			.post {
				width: 33.3333%;
				float: left;
				padding: 0.3em;

				&:nth-child(3n+1) {
					clear: left;
				}
			}
		}

		&.size-medium {
			.post {
				margin-bottom: .7em;

				&:last-child {
					margin-bottom: 0;					
				}				
			}
		}
	}
}

.widget_instagram {
	img {
		display: block;
		width: 100%;
	}
}


.widget_editor {
	text-align: center;
	padding: 2.5em 13% 3.5em;

	.image {
		@include border-radius(50%);
	}

	.script {
		margin-top: -1.5em;
	}

	.author {
		margin-top: -1em;

		.image {
			@include border-radius(50%);
			vertical-align: middle;
			margin-right: 0.3em;
		}

		.name {
			@include futura-bold;
			@include font-size(10);
			@include inline-block;
		}
	}

	.date {
		@include futura;
		color: #5b5b5b;
		@include font-size(11);
		margin: 1.5em 0;
	}

	.bio {
		@include font-size(15);
		@include garamond-italic;
		color: #3b3b3b;
		text-align: left;
		padding: 0 10%;	
		line-height: 1.4;	

		.read-more {
			@include futura-bold;
			@include font-size(10);
			margin-left: .5em;
			font-weight: 700;
			letter-spacing: 1px;
			white-space: pre;
		}
	}
}

.widget_social {
	text-align: center;

	span {
		@include garamond-italic;
		color: #3b3b3b;
	}

	a {
		color: #78a250;
		@include futura;
	}

	span, a {
		display: block;
		text-align: center;
	}

	.social-links {
		@include inline-block;
		margin-top: 1em;

		li {
			a {
				background: $black;
				color: $white;
				@include border-radius(50%);
				width: 35px;
				height: 35px;
				@include font-size(20);
				text-align: center;
				border: 2px solid $black;

				&:before {
					margin-top: -4px;
				}

				&.instagram-btn {
					padding-left: .2em;
				}

				&:hover {
					background: $white;
				}
			}
		}
	}
}

.gform_widget {

	.widget-title {
		display: none;
	}
	
	.newsletter_wrapper {
		padding-right: 0;
		padding-bottom: 100px;

		&:after {
			height: 100px;
			width: 100%;
		}
	}
}

.widget_products {

	.products {
		@extend .clearfix;
		margin: 0 -10px;
		padding: 0;

		li {
			float: left;
			width: 50%;
			padding: 0 10px;

			&:nth-child(2n+1) {
				clear: left;
			}
		}
	}

	.product-btn {
		position: relative;

		&:hover {
			.header {
				opacity: 1;
				visibility: visible;
			}
		}

		.header {
			position: absolute;
			top: 50%;
			background: #FFF;
			left: 0;
			right: 0;
			@include translateY(-50%);
			opacity: 0;
			visibility: hidden;
			@include transition(all 0.3s ease);
		}
	}
}
